{{#each thursdays}}
<div class="columns one-third date-container">
    <img src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/live-demo-webinar/calendar-icon.png">
    <p class="signup-month">{{month}}</p>
    <p class="signup-day">{{day}}</p>
    <a href="" class="primary-button small register-btn" data-index="{{index}}" data-date-long="{{dateLong}}">{{tr 'Register'}}</a>
</div>
{{/each}}
