---
layout: opticon.hbs
seo_title: Opties 2015
no_container: true
no_header: true
no_footer: true
page_script: opties.js
body_class:
- opticon
- opticon-opties
og_title: "Opticon 2015"
og_description: "Join me at Opticon and learn why experience optimization is a must for your business."
external_script:
- //use.typekit.net/ucj0cgp.js
---

<!--              -->
<!-- Title Section-->
<!--              -->
<div class="confetti-container">
  <div class="confetti-right"></div>
</div>
<div class="page-content paragraphs-container container">
  {{#with opties_data}}
  <h2 class="page-title common-page-title adelle-sans--bold">{{page_title}}</h2>
  <div class="top-paragraph">
    <h3 class="description-title adelle-sans">{{top_paragraph.title}}</h3>
    <p class="subtitle deadline adelle-sans">{{top_paragraph.deadline}}</p>
    <p class="description-text adelle-sans">{{top_paragraph.blurb}}</p>
  </div>
  {{/with}}
</div>

<!--                -->
<!--Award Categories-->
<!--                -->
<div class="container section-padding">
  {{#with opties_data.award_categories}}
  <h3 class="description-title adelle-sans">{{title}}</h3>
  <div class="award-categories flex-container">
    {{#each categories}}
    <div class="category-item">
      <p class="adelle-sans category-title">{{this.title}}</p>
      <p class="adelle-sans">{{this.blurb}}</p>
      {{#if this.email}}
      <a class="adelle-sans" href="mailto:{{this.email}}">{{this.cta}}</a>
      {{else}}
      <a class="adelle-sans js-category-cta" href="#js-opties-application" data-category="{{this.title}}">{{this.cta}}</a>
      {{/if}}
    </div>
    {{/each}}
    {{/with}}
  </div>
</div>

<!--          -->
<!--Guidelines-->
<!--          -->
<div class="container guidelines">
  {{#with opties_data.guidelines}}
  <div class="flex-container">
    <h3 class="guidelines__title description-title adelle-sans">{{title}}</h3>
     <ul class="guidelines__list">
      {{#each list}}
      <li class="adelle-sans">{{this}}</li>
      {{/each}}
    </ul>
  </div>
  {{/with}}
</div>

<!--               -->
<!--Applcation Form-->
<!--               -->
<section class="application-form" id="js-opties-application">
  {{#with opties_data.application_form}}
  <div class="container">
    <h3 class="description-title--apply adelle-sans">{{title}}</h3>
    <h4 class="description-title--apply adelle-sans">{{subtitle}}</h4>
    <form id="form2" name="form2" class="columns eight offset-two" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://stewsmith.wufoo.com/forms/m1oycu1o1x0yrs3/#public">
      <div class="no-overflow">
        {{! Award Category }}
        <div class="half left">
          <label class="label-title adelle-sans" id="title1" for="Field1">Award Category</label>
          <div>
            <select id="Field1" name="Field1" class="field select medium" tabindex="1" autocomplete="off">
            <option value="" selected="selected"></option>
            <option value="Most Dramatic Business Impact" >Most Dramatic Business Impact</option>
            <option value="Data-Driven Culture Award" >Data-Driven Culture Award</option>
            <option value="Optimization Champion of the Year" >Optimization Champion of the Year</option>
            <option value="Solutions Partner of the Year" >Solutions Partner of the Year</option>
            <option value="Most Impactful Use of Personalization" >Most Impactful Use of Personalization</option>
            <option value="Mobile Pioneer Award" >Mobile Pioneer Award</option>
            <option value="People's Choice: Experiment of the Year" >People’s Choice: Experiment of the Year</option>
            <option value="Developer Extraordinaire Award" >Developer Extraordinaire Award</option>
            <option value="The Better Together Award" >The Better Together Award</option>
            </select>
          </div>
        </div>

        {{! Industry }}
        <div class="half right">
          <label class="label-title adelle-sans" id="title3" for="Field3">Industry</label>
          <div>
            <select id="Field3" name="Field3" class="field select medium" tabindex="2" >
              <option value="" selected="selected"></option>
              <option value="Ecommerce" >Ecommerce</option>
              <option value="Media" >Media</option>
              <option value="B2B" >B2B</option>
              <option value="Travel" >Travel</option>
              <option value="Non-profit" >Non-profit</option>
              <option value="Other" >Other</option>
            </select>
          </div>
        </div>
      </div>

      {{! Nominee }}
      <label class="label-title adelle-sans" id="title112" for="Field112">Nominee</label>
      <p class="input-instruction">Include both company name and agency name if applicable.</p>
      <input class="full-width" id="Field112" name="Field112" type="text" value="" maxlength="255" tabindex="3">

      {{! Challenge }}
      <label class="label-title adelle-sans" id="title5" for="Field5">Challenge</label>
      <p class="input-instruction">Share with us the challenge that this nominee faced. What issues and pain points contributed to the challenge? Provide specific timelines and details.</p>
      <textarea class="full-width" id="Field5" name="Field5"  spellcheck="true" rows="10" cols="50" tabindex="4"></textarea>

      {{! Highlights }}
      <label  class="label-title adelle-sans" id="title6" for="Field6">Highlights</label>
      <p class="input-instruction">Use bullets to summarize the key information in this submission including key points, metrics, or relevant information.</p>
      <textarea class="full-width" id="Field6" name="Field6" spellcheck="true" rows="10" cols="50" tabindex="5"></textarea>

      {{! Solution }}
      <label class="label-title adelle-sans" id="title7" for="Field7">Solution</label>
      <p class="input-instruction">Describe in detail how this problem was solved, including what steps were taken as well as the tests or experiences ran to meet this challenge.</p>
      <textarea class="full-width" id="Field7" name="Field7" spellcheck="true" rows="10" cols="50" tabindex="6"></textarea>

      {{! Results }}
      <label class="label-title adelle-sans" id="title8" for="Field8">Results</label>
      <p class="input-instruction">Share with us how this nominee experienced success (higher conversion rates, cultural transformation, strategy validation, increased revenues). Feel free to describe both quantitative and qualitative benefits the nominee achieved.</p>
      <textarea class="full-width" id="Field8" name="Field8" spellcheck="true" rows="10" cols="50" tabindex="7"></textarea>

      {{! Contributors }}
      <label class="label-title adelle-sans" id="title9" for="Field9">Contributors</label>
      <p class="input-instruction">List the names and emails of everyone who contributed to the challenge.</p>
      <textarea class="full-width" id="Field9" name="Field9" spellcheck="true" rows="10" cols="50" tabindex="8"></textarea>

      <div class="no-overflow">
        {{! Attachments }}
        <div class="half left">
          <label class="label-title adelle-sans" id="title10" for="Field10">Attachments</label>
          <p class="input-instruction">Please attach creative assets, presentations, or documents that are in support of your submission here.
          Attachments must be uploaded as one zip file.</p>
          <input id="Field10" name="Field10" type="file" class="adelle-sans input-instruction" size="12" tabindex="9">
        </div>
        {{! Showcase }}
        <div class="half right">
          <label for="" class="label-title adelle-sans" class="required">Showcase</label>
          <p class="input-instruction">Optimizely is always looking to showcase our customers' successes. Please check the box(es) where we can highlight this submission:</p>
          <fieldset>
            <div>
              <div>
                <input id="Field11" name="Field11" type="checkbox" class="field checkbox" value="All of the below" tabindex="10">
                <label class="input-instruction inline" for="Field11">All of the below</label>
              </div>
              <div>
                <input id="Field12" name="Field12" type="checkbox" class="field checkbox" value="Customer Story" tabindex="11">
                <label class="input-instruction inline" for="Field12">Customer Story</label>
              </div>
              <div>
                <input id="Field13" name="Field13" type="checkbox" class="field checkbox" value="Press release" tabindex="12">
                <label class="input-instruction inline" for="Field13">Press release</label>
              </div>
              <div>
                <input id="Field14" name="Field14" type="checkbox" class="field checkbox" value="Peer to peer calls" tabindex="13">
                <label class="input-instruction inline" for="Field14">Peer to peer calls</label>
              </div>
              <div>
                <input id="Field15" name="Field15" type="checkbox" class="field checkbox" value="Blog post" tabindex="14">
                <label class="input-instruction inline" for="Field15">Blog post</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="no-overflow nominator">
        {{! Nominator Name }}
        <div class="half left">
          <label class="label-title adelle-sans" id="title113" for="Field113">Nominator Name</label>
          <input class="full-width" id="Field113" name="Field113" type="text" value="" maxlength="255" tabindex="15">
        </div>

        {{! Nominator Company }}
        <div class="half right">
          <label class="label-title adelle-sans" id="title114" for="Field114">Nominator Company</label>
          <input class="full-width" id="Field114" name="Field114" type="text" value="" maxlength="255" tabindex="16">
        </div>
      </div>

      <div class="no-overflow">
        {{! Nominator Email }}
        <div class="half left">
          <label class="label-title adelle-sans required" id="title115" for="Field115">Nominator Email</label>
          <input class="full-width" id="Field115" name="Field115" type="text" value="" maxlength="255" tabindex="17" required>
        </div>

        {{! Approval Checkbox }}
        <div class="half right">
          <label class="input-instruction adelle-sans approval" for="">I have approval to submit this application on behalf of a nominee.</label>
          <fieldset>
            <div>
              <input id="radioDefault_116" name="Field116" type="hidden" value="">
              <span>
                <input id="Field116_0" name="Field116" type="radio" class="field radio" value="Yes" tabindex="18">
                <label class="input-instruction inline" for="Field116_0" >Yes</label>
              </span>
              <span>
                <input id="Field116_1" name="Field116" type="radio" class="field radio" value="No" tabindex="19">
                <label class="input-instruction inline" for="Field116_1" >No</label>
              </span>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="hidden">
        <label for="comment">Do Not Fill This Out</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
        <input type="hidden" id="idstamp" name="idstamp" value="Of033ci3lHVN4Oo0Iszazt8O3D5dVGoFJJt2Bzy22Xc=">
      </div>

      <div class="button-container">
        <input id="saveForm" name="saveForm" class="submit-button adelle-sans" type="submit" value="Submit">
      </div>
    </form>

  </div>
  {{/with}}
</section>
