---
layout: resources
TR_seo_title: Resources
TR_visible_title: "Resources"
no_container: true
TR_sub_head: Everything you need to learn about Experience Optimization
page_script: resources.js
body_class:
- resources-page
script_dependencies:
- "//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"
---

<div class="container">
  <div class="row">
    <div class="resources-grid">
      {{#collection "resources"}}
        <a href="{{this.url}}" target="_blank">
          <div class="resources-grid-elm {{matchType this}}">
            <div class="resources-image">
              <img src="{{this.photo}}">
            </div>
            <div class="resources-title">{{this.title}}</div>
            <div class="resource-type">{{this.type}}</div>
          </div>
        </a>
      {{/collection}}
    </div><!-- /.resources-grid -->
    <div class="integrations-message">
      <p>{{{page_data.filter.no_results}}}</p>
    </div>
  </div><!-- /.row-->
</div><!-- /.container-->
