---
layout: page
TR_seo_title: "Technology Partners"
TR_visible_title: "Technology Partners"
sub_head: ""
body_class:
- "integrations-solutions"
---
<div class="columns twelve">

  <div class="row">
    <div class="columns seven">
      <p>{{{global_technology_data.page_intro}}}</p>
    </div>
    <div class="columns five learn-more">
      {{{global_technology_data.dev_link_intro}}}
      <a class="big" href="{{global_technology_data.dev_link_url}}">{{{global_technology_data.dev_link_text}}} &gt;</a>
    </div>
  </div>

  <div class="row">
    <div class="integrations-container">
      <div class="row partner-grid">
        {{#collection "integrations"}}
          <div class="partner-grid-elm">
            <div class="title-container">
              <h4 class="partner-title"><a href="{{relativeDir this.dest ../linkPath}}">{{this.title}}</a></h4>
            </div> <!-- .title-container -->
            <div class="partner-inner-content">
              <a href="{{relativeDir this.dest ../linkPath}}" class="partner-logos" style="background-image: url('{{this.logo}}');"></a>
              <p>{{this.summary}}</p>
            </div>
            <div class="button-container">
              <a href="{{relativeDir this.dest ../linkPath}}" class="button">{{{../global_technology_data.more}}} &gt;</a>
            </div>
          </div> <!-- .partner-grid-elm -->
        {{/collection}}
      </div><!-- .partner-grid -->
    </div> <!-- .integrations-container -->
  </div>
</div>