---
layout: page
TR_seo_title: "Solutions Partners"
TR_visible_title: "Solutions Partners"
sub_head: ""
body_class:
- "integrations-solutions"
page_script:
- "solutions.js"
script_dependencies:
- "//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"
---

<div class="columns twelve">

  <div class="row">
    <div class="columns seven">
      <p>{{{global_solutions_data.page_intro}}}</p>
    </div>
    <div class="columns five learn-more">
      {{{global_solutions_data.apply_link_intro}}}
      <a class="big" href="{{{global_solutions_data.apply_link_url}}}">{{{global_solutions_data.apply_link_text}}} &gt;</a>
    </div>
  </div>

  <div class="row">
    <div class="columns twelve filter">
      <div class="pill clearfix">
        <div class="heading">{{{global_solutions_data.filter.title}}}:</div>
        <div class="dropdown-cont dropdown-cont--region">{{{global_solutions_data.filter.region}}} &#9662;
          <ul>
            {{#each global_solutions_data.filter.regions}}
              <li class="filter-item" data-filter="{{ createClassList this.attr }}">{{this.text}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="dropdown-cont">{{{global_solutions_data.filter.stars}}} &#9662;
          <ul>
            <li class="filter-item" data-filter="3-star">
              <span class="star-cont star-cont--3"></span>
            </li>
            <li class="filter-item" data-filter="2-star">
              <span class="star-cont star-cont--2"></span>
            </li>
            <li class="filter-item" data-filter="1-star">
              <span class="star-cont star-cont--1"></span>
            </li>
          </ul>
        </div>
        <div class="dropdown-cont dropdown-cont--columns">{{{global_solutions_data.filter.vertical}}} &#9662;
          <ul>
            {{#each this.tag_dropdown}}
              <li class="filter-item" data-filter="{{~createClassList this.data_tag~}}">{{this.tag}}</li>
            {{/each}}
          </ul>
        </div>
        <a href="#" class="filter--reset tooltip-hover" data-content="Reset filters"><span>{{{global_solutions_data.filter.reset}}}</span></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="integrations-container">
      <div class="integrations-message">
        <p>{{{global_solutions_data.filter.no_results}}}</p>
      </div>
      <div class="row partner-grid">
        {{#collection "solutions"}}
        <div class="partner-grid-elm {{#if this.stars}}{{this.stars}}-star{{/if}} {{#each this.locations}}{{createClassList this.location.data_region}}{{/each}} {{#each this.data_tags}}{{createClassList this}}{{/each}}">
            <div class="title-container">
              <h4 class="partner-title"><a href="{{relativeDir this.dest ../linkPath}}">{{this.title}}</a></h4>
              {{#each this.locations}}
                <div class="partner-location {{#if @first}}active{{/if}}" data-region="{{createClassList this.location.region}}">{{this.location.city}}, {{stateCountry this.location.state this.location.country }}</div>
              {{/each}}
            </div> <!-- .title-container -->
            <div class="partner-inner-content">
              <a href="{{relativeDir this.dest ../linkPath}}" class="partner-logos" style="background-image: url('{{this.logo}}');"></a>
              <div class="level">
                <div class="level-heading">{{{../global_solutions_data.filter.stars}}}: <span data-tooltip title="{{{../global_solutions_data.partner_tooltip}}}"></span></div>
                <div class="star-cont {{#if this.stars}}star-cont--{{this.stars}}{{/if}}"></div>
              </div>
            </div>
            <div class="button-container">
              <a href="{{relativeDir this.dest ../linkPath}}" class="button">{{{../global_solutions_data.more}}} &gt;</a>
            </div>
          </div>
        {{/collection}}

      </div><!-- /.partner-grid -->
    </div><!-- /.integrations-container-->
  </div><!-- /.row -->
</div><!-- /.columns -->