---
layout: page.hbs
seo_title: "Solutions Partners"
visible_title: "Solutions Partners"
sub_head: ""
body_class:
- "integrations-solutions"
page_script:
- "solutions.js"
script_dependencies:
- "//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"
---

<div class="columns twelve">

  <div class="row">
    <div class="columns seven">
      <p>{{{solutions_data.page_intro}}}</p>
    </div>
    <div class="columns five learn-more">
      {{{solutions_data.apply_link_intro}}}
      <a class="big" href="{{{solutions_data.apply_link_url}}}">{{{solutions_data.apply_link_text}}} &gt;</a>
    </div>
  </div>

  <div class="row">
    <div class="columns twelve filter">
      <div class="pill clearfix">
        <div class="heading">{{{solutions_data.filter.title}}}:</div>
        <div class="dropdown-cont dropdown-cont--region">{{{solutions_data.filter.region}}} &#9662;
          <ul>
            {{#each solutions_data.filter.regions}}
              <li class="filter-item" data-filter="{{ createClassList this }}">{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="dropdown-cont">{{{solutions_data.filter.stars}}} &#9662;
          <ul>
            <li class="filter-item" data-filter="3-star">
              <span class="star-cont star-cont--3"></span>
            </li>
            <li class="filter-item" data-filter="2-star">
              <span class="star-cont star-cont--2"></span>
            </li>
            <li class="filter-item" data-filter="1-star">
              <span class="star-cont star-cont--1"></span>
            </li>
          </ul>
        </div>
        <div class="dropdown-cont dropdown-cont--columns">{{{solutions_data.filter.vertical}}} &#9662;
          <ul>
            {{#each tags}}
              {{#if tag.length}}
                <li class="filter-item" data-filter="{{createClassList tag}}">{{tag}}</li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
        <a href="#" class="filter--reset tooltip-hover" data-content="Reset filters"><span>{{{solutions_data.filter.reset}}} </span>X</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="integrations-container">
      <div class="integrations-message">
        <p>{{{solutions_data.filter.no_results}}}</p>
      </div>
      <div class="row partner-grid">
        {{#solutions}}
          {{#each pages}}
            <div class="partner-grid-elm {{#if data.stars}}{{data.stars}}-star{{/if}} {{#each data.locations}}{{createClassList this.location.region}}{{/each}} {{#each data.tags}}{{createClassList this}}{{/each}}" data-priority="{{data.priority}}">
              <div class="title-container">
                <h4 class="partner-title"><a href="{{relative ../../page.dest this.dest}}">{{data.title}}</a></h4>
                {{#each data.locations}}
                  <div class="partner-location {{#if @first}}active{{/if}}" data-region="{{createClassList this.location.region}}">{{this.location.city}}, {{stateCountry this.location.state this.location.country }}</div>
                {{/each}}
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <a href="{{relative ../../page.dest this.dest}}" class="partner-logos" style="background-image: url('{{data.logo}}');"></a>
                <div class="level">
                  <div class="level-heading">{{{../../solutions_data.filter.stars}}}: <span data-tooltip title="{{{../../solutions_data.partner_tooltip}}}"></span></div>
                  <div class="star-cont {{#if data.stars}}star-cont--{{data.stars}}{{/if}}"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{relative ../../page.dest this.dest}}" class="button">{{{../../solutions_data.more}}} &gt;</a>
              </div>
            </div>
          {{/each}}
        {{/solutions}}

      </div><!-- /.partner-grid -->
    </div><!-- /.integrations-container-->
  </div><!-- /.row -->
</div><!-- /.columns -->
