---
layout: "benefits"
TR_seo_title: "Enterprises"
TR_visible_title: "Enterprises"
body_class:
- "enterprises-page"
TR_page_h2: "Unlock visitor insights, generate leads, grow revenue"
TR_page_h5: "Highlights:"
TR_page_paragraphs:
- "Optimizely's powerful enterprise a/b testing platform helps teams optimize demand generation, lead nurturing, and site engagement."
- "Optimizely's enterprise testing environment is built to provide large enterprises and teams with fast, reliable, and easy-to-use tools that complement existing marketing and product strategies."
- "Most people on our team found it hard to believe that a single word could really have a meaningful impact on user behavior. Prior to Optimizely, testing usually meant more people needed to be involved, which made for a longer process, and didn't typically allow for a quick and easy test; it didn't take more than a day to discover that the naysayers were totally wrong."
- "- Irving Weiss, Vitals.com"
-
  TR_strong: "Learn More"
  link: "benefits"
  TR_text: "Benefits of A/B and Multivariate Testing"
TR_page_li:
- "Revenue tracking and custom goal creation"
- "Dedicated account management and support"
- "One-click integration with Google Analytics, SiteCatalyst and more"
- "Dynamic content and event-based testing"
- "WYSIWYG, no-coding-required editor for building test variations"
- "A/B and Multivariate testing"
- "Real-time reporting tools and admin dashboards"
- "Cross-browser testing, staging server support, uptime monitoring"
- "Custom HTML/Javascript/CSS editor"
- "And much more..."
inbound_form_lead_type: "Optimizely for Enterprises"
initial_form_source: "Optimizely for Enterprises"
lead_source_subcategory: "Optimizely for Enterprises form"
---
<h2 class="subheading">{{page_h2}}</h2>

<div class="row">
    <div class="columns seven">
      {{#each page_paragraphs}}
        {{#is @index 0}}
        <p>{{{.}}}</p>
        {{/is}}
        {{#is @index 1}}
        <h5>{{../../page_h5}}</h5>
        <ul class="benefits-list">
          {{#each ../../page_li}}
          {{#if @last}}
            <li><em>{{.}}</em></li>
            {{else}}
            <li>{{.}}</li>
          {{/if}}
          {{/each}}
        </ul>
        <p>{{.}}</p>
        {{/is}}
        {{#if_gt @index compare=1}}
        {{#if @last}}
        <p><strong>{{strong}}: <strong><a href="{{../../../linkPath}}/{{link}}">{{text}}</a></p>
          {{else}}
            {{#isnt @index 3}}
              <blockquote>
                <p>{{{.}}}</p>
            {{/isnt}}
            {{#is @index 3}}
                <p class="by">{{{.}}}</p>
              </blockquote>
            {{/is}}
        {{/if}}
        {{/if_gt}}
      {{/each}}
    </div>
    <div class="columns five">
        {{> (l10nPartial 'contact_form')}}
    </div>
</div>

