---
layout: partners_become
compact_header: false
body_class:
- partners-become
page_script: partners-become.js
footer_style: grey
TR_seo_title: ""
og_title: ""
og_description: ""
---
<style>

</style>
<section id="technology-hero" class="panel hero">
  {{#with page_data.intro}}
    <h1>{{{headline}}}</h1>
    <h2>{{{subhead}}}</h2>
  {{/with}}
</section>

<section id="technology-blurb" class="panel">
  {{#with page_data.intro}}
    {{{blurb}}}
  {{/with}}
</section>

<section  id="technology-why"  class="why-items container">
  {{#with page_data.why}}
    <h3 class="description-title">{{why.title}}</h3>
    <div class="tracks-container flex-container">
      {{#each items_list}}
        <div class="why-item-container {{this.class}}">
          <p class="item-title adelle-sans--bold">{{this.title}}</p>
          <p class="detail-text">{{this.blurb}}</p>
          <ul>
            <li>{{this.list_bullet}}</li>
          </ul>
        </div>
      {{/each}}
    </div>
  {{/with}}
</section>


<section id="technology-benefits" class="panel">
  {{#with page_data.benefits}}

    {{#each items.list}}
      <div class="flex-container">

        <div class={{#is_even @index}}"left-paragraph"{{else}}"right-paragraph"{{/is_even}}>
          <h3 class="description-title adelle-sans">{{title}}</h3>
          <p class="description-text adelle-sans">{{blurb}}</p>
        </div>

        <div class={{#is_even @index}}"right-paragraph"{{else}}"left-paragraph"{{/is_even}}>
          <div class="{{class}}"></div>
        </div>
      </div>

    {{/each}}

  {{/with}}
</section>

<section id="technology-join" class="panel">

</section>
