---
layout: opticon.hbs
seo_title: Opticon
no_container: true
no_header: true
no_footer: true
page_script:
- opticon.js
footer_style: grey
body_class:
- opticon
- opticon-homepage
external_stylesheets:
- //cloud.typography.com/7838232/736966/css/fonts.css
---

{{#with opticon_data}}
<div class="row">
  <!--             -->
  <!--Title Section-->
  <!--             -->
  <section class="title-section">
    <div class="title-container">
      <h1 class="page-title homepage-title">{{title_section.title1}}</h1>
      <h1 class="page-title homepage-title">{{title_section.title2}}</h1>
    </div>
    <h4 class="event-details">{{title_section.date}} | {{title_section.location}}</h4>
    <p class="">{{{title_section.sub_title}}}</p>
    <a class="body-button" href="{{linkPath}}/opticon/about">{{title_section.cta}}</a>
  </section>

  <!--                   -->
  <!--Description Section-->
  <!--                   -->
  <section class="description container">
    <h3 class="description-title">{{description.title}}</h3>
    <p class="description-text">{{description.blurb}}</p>
    <a href="#">{{description.cta}}</a>
  </section>

  <!--                -->
  <!--Speakers Section-->
  <!--                -->
  <section class="speakers container">
    <h3 class="description-title">{{speakers.title}}</h3>
    <p>{{speakers.keynote.title}}</p>
    <div class="speakers-container flex-container">
      {{#each speakers.keynote.speaker_list}}
        <div class="speaker-container">
          <p>{{this.name}}</p>
          <p>{{this.company}}</p>
          <p>{{this.blurb}}</p>
        </div>
      {{/each}}
    </div>
    <a href="#">{{speaker_section.cta}}</a>
  </section>

  <!--              -->
  <!--Tracks Section-->
  <!--              -->
  <section class="tracks container">
    <h3 class="description-title">{{tracks.title}}</h3>
    <p class="subtitle">{{tracks.sub_title}}</p>
    <div class="tracks-container flex-container">
      {{#each tracks.track_list}}
        <div class="track-container">
          <p>{{this.title}}</p>
          <p>{{this.blurb}}</p>
        </div>
      {{/each}}
    </div>
  </section>

  {{/with}}

  {{> opticon_register}}

  {{> opticon_sponsors}}

</div><!-- /.row-->
