---
layout: opticon.hbs
seo_title: Opticon
no_container: true
compact_header: true
page_script: opticon.js
footer_style: grey
body_class:
- opticon
---

<div class="row">
  {{#with opticon_data}}

  <section class="welcome-container">
    <h1 class="title">{{title}}</h1>
    <h4 class="event-details">{{date}} | {{location}}</h4>
  </section>

  <section class="description-panel container">
    <h1 class="tagline">{{tagline}}</h1>
    <p class="description">{{description}}</p>
  </section>

  <section class="call-for-speakers-panel">
    <h1 class="title">{{call_for_speakers.title}}</h2>
    <p class="blurb">{{{call_for_speakers.blurb}}}</p>
  {{/with}}
  <div class="button-container">
    <a class="cta" href="{{linkPath}}/opticon/speakers">{{opticon_data.call_for_speakers.cta}}</a>
  </div>
  {{#with opticon_data}}
  </section>

  <section class="register container">
    <h1 class="title">{{register.title}}</h2>
    <p class="blurb">{{{register.blurb}}}</p>
    <div class="eventbrite-widget">
      <iframe src="http://www.eventbrite.com/tickets-external?eid=4653432542&ref=etckt&v=2" frameborder="0" height="256" width="100%" vspace="0" hspace="0" marginheight="0" marginwidth="5"  allowtransparency="true"></iframe>
    </div>
  </section>

  <section class="call-for-sponsors-panel">
    <h1 class="title container">{{call_for_sponsors.title}}</h1>
    <p class="blurb container">{{call_for_sponsors.blurb}}</p>
    <div class="button-container">
      <a class="cta" href="#">{{call_for_sponsors.cta}}</a>
    </div>
  </section>

  {{/with}}
</div><!-- /.row-->
