---
layout: opticon
seo_title: "Opticon: Experience Optimization Conference"
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-homepage
description: "Coming June 17th & 18th, Opticon is the premier event for the optimization and testing community. Join us and take your optimization program to the next level!"
og_title: "Opticon 2015"
og_description: "Join us at Opticon and learn why experience optimization is a must for your business."
external_script:
- //use.typekit.net/ucj0cgp.js
---

{{#with global_opticon_data}}
<div class="confetti-container">
  <div class="confetti-left"></div>
</div>

<!--             -->
<!--Title Section-->
<!--             -->
<section class="title-section">
  <div class="copy-container container">
    <div>
      <span class="page-title first-title adelle-sans--bold">{{title_section.title1}}</span><br>
      <span class="page-title first-title adelle-sans--bold">{{title_section.title2}}</span>
    </div>
    <h4 class="event-details adelle-sans">{{title_section.date}} | {{title_section.location}}</h4>
    <p class="hero-subtitle adelle-sans">{{{title_section.sub_title}}}</p>
    <p class="optimizely-host adelle-sans">{{{title_section.sponsor}}}</p>
    <a class="anim-opticon-button opticon-button register-link" href="https://www.eventbrite.com/e/opticon-2015-tickets-14328636337">
      <div class="cta-text adelle-sans">{{title_section.cta}}</div>
      <div class="cta-arrow">→</div>
    </a>
  </div>
</section>

<div class="confetti-container">
  <div class="confetti-right"></div>
</div>

<!--                   -->
<!--Description Section-->
<!--                   -->
<section class="description container">
  <h3 class="description-title adelle-sans">{{description.title}}</h3>
  <p class="description-text description-text--center adelle-sans">{{description.blurb}}</p>
</section>

<!--                -->
<!--Speakers Section-->
<!--                -->
<section class="speakers container">
  <h3 class="description-title adelle-sans">{{speaker_section.title}}</h3>
  <div class="speakers-container flex-container">
    {{#each speaker_section.speaker_list}}
    <div class="speaker-container" style="background-image: url('{{this.image}}')">
      <p class="item-title adelle-sans--bold">{{this.speaker_name}}</p>
      <p class="item-source adelle-sans">{{this.company}}</p>
    </div>
    {{/each}}
  </div>
  <h5 class="speaker-companies-title adelle-sans">{{speaker_section.featuring}}</h5>
  <div class="logo-wall flex-container">
    {{#each speaker_section.company_list}}
    <div class="logo-wall__company {{this.class}}" style="background-image: url('{{this.image}}')"></div>
    {{/each}}
  </div>
</section>

<!--              -->
<!--Tracks Section-->
<!--              -->
<section class="tracks container">
  <h3 class="description-title adelle-sans">{{tracks.title}}</h3>
  <p class="description-text description-text--center adelle-sans">{{tracks.description}}</p>
  <div class="tracks-container flex-container">
    {{#each tracks.track_list}}
      <div class="track-container {{this.class}}">
        <p class="item-title adelle-sans--bold">{{this.title}}</p>
        <p class="detail-text adelle-sans">{{this.blurb}}</p>
      </div>
    {{/each}}
  </div>
  <a class="opticon-button opticon-button--internal-link blue-hover" href="{{../linkPath}}/opticon/agenda">
    <div class="cta-text adelle-sans">{{tracks.cta}}</div>
  </a>
  <p class="adelle-sans">{{tracks.2014_text}}<a href="{{../linkPath}}/opticon/opticon-2014">{{tracks.2014_link}} &raquo;</a></p>

</section>

{{/with}}

{{> opticon_register}}
