---
layout: opticon.hbs
seo_title: Opticon
no_container: true
compact_header: true
page_script: opticon.js
footer_style: grey
body_class:
- opticon
external_stylesheets:
- //cloud.typography.com/7838232/736966/css/fonts.css
---

<div class="row">
  {{#with opticon_data}}

  <section class="welcome-container">
    <h1 class="title section-title">{{title}}</h1>
    <h4 class="event-details">{{date}} | {{location}}</h4>
  </section>

  <section class="description-panel container">
    <h1 class="section-title">{{description.title}}</h1>
    <div class="flex-container">
      <p class="description">{{description.blurb}}</p>
      <div class="pier"></div>
    </div>
  </section>

  <section id="call-for-speakers" class="call-for-speakers-panel">
    <h1 class="section-title">{{call_for_speakers.title}}</h2>
    <p class="blurb">{{{call_for_speakers.blurb}}}</p>
  {{/with}}
  <div class="button-container">
    <a class="cta" href="{{linkPath}}/opticon/speakers">{{opticon_data.call_for_speakers.cta}}</a>
  </div>
  {{#with opticon_data}}
  </section>

  <section id="call-for-sponsors" class="call-for-sponsors-panel">
    <h1 class="section-title container">{{call_for_sponsors.title}}</h1>
    <p class="blurb container">{{call_for_sponsors.blurb}}</p>
    <div class="button-container">
      <a class="cta" href="#">{{call_for_sponsors.cta}}</a>
    </div>
  </section>

  <section id="register" class="register-panel">
    <h1 class="section-title">{{register.title}}</h2>
    <div class="flex-container container">
      <p class="blurb">{{{register.blurb}}}</p>

    <div class="eventbrite-desktop" style="width:100%; text-align:left;" >
      <iframe  src="//eventbrite.com/tickets-external?eid=14328636337&ref=etckt" frameborder="0" height="339" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
        <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online event registration</a>
        <span style="color:#ddd;"> for </span>
        <a style="color:#ddd; text-decoration:none;" target="_blank" href="https://opticon2015.eventbrite.com/?ref=etckt">Opticon 2015</a>
        <span style="color:#ddd;">powered by</span>
        <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a>
      </div>
    </div>

      <a class="eventbrite-mobile" href="http://www.eventbrite.com/e/opticon-2015-tickets-14328636337?ref=ebtnebtckt" target="_blank">
        <img src="https://www.eventbrite.com/custombutton?eid=14328636337" alt="Eventbrite - Opticon 2015" />
      </a>

    </div>
  </section>

  {{/with}}
</div><!-- /.row-->
