---
layout: page.hbs
seo_title: Opticon
no_container: true
compact_header: true
page_script: opticon.js
body_class:
- opticon
---

<div class="row">
  {{#with opticon_data}}

  <section class="welcome-container">
    <h1 class="title">{{title}}</h1>
    <h4 class="event-details">{{date}} | {{location}}</h4>
  </section>

  <section class="description-panel container">
    <h1 class="tagline">{{tagline}}</h1>
    <p class="description">{{description}}</p>
  </section>

  <section class="call-for-speakers-panel">
    <h1 class="title">{{call_for_speakers.title}}</h2>
    <p class="body">{{{call_for_speakers.body}}}</p>
  {{/with}}
  <div class="button-container">
    <a class="cta" href="{{linkPath}}/opticon/speakers">{{opticon_data.call_for_speakers.cta}}</a>
  </div>
  {{#with opticon_data}}
  </section>

  <section class="call-for-sponsors-panel container">
    <h1 class="title">{{call_for_sponsors.title}}</h1>
    <p class="body">{{call_for_sponsors.body}}</p>
    <div class="button-container">
      <a class="cta" href="#">{{call_for_sponsors.cta}}</a>
    </div>
  </section><!-- /.call-for-sponsors -->

  {{/with}}
</div><!-- /.row-->
