---
layout: opticon
seo_title: Opticon Sponsors
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-sponsors
og_title: "Opticon 2015"
og_description: "Join me at Opticon and learn why experience optimization is a must for your business."
page_script: opticon-sponsors.js
modals:
- opticon_sponsor_modal
external_script:
- //use.typekit.net/ucj0cgp.js
---

<div class="page-content container" l10n-skip>
  {{#with page_data}}
  <h2 class="page-title common-page-title adelle-sans--bold">{{title}}</h2>
  <h3 class="description-title adelle-sans">{{subtitle}}</h3>
  <p class="adelle-sans">{{{sponsor_cta}}}</p>

  {{#each sponsor_levels}}
  <div class="sponsor-level">
    <h4 class="sponsor-level__title adelle-sans">{{this.title}}</h4>
    <hr>
    <div class="sponsor-level__image-cont">
      {{#each this.sponsor_list}}
      <div class="sponsor-level__image-cont__image sponsor-level__image-cont__image--{{this.class}}" data-modal style="background-image: url('{{this.image_link}}')" data-description="{{this.description}}" data-name="{{this.display_url}}" data-link="{{this.site_link}}"></div>
      {{/each}}
    </div>
  </div>
  {{/each}}
  {{/with}}
</div>
