---
layout: "custom"
TR_seo_title: "Make your Android app more engaging"
page_script:
- android.js
body_class:
- android-page
footer_style: grey
TR_og_title: "Make your Android app more engaging"
TR_og_description: "Learn how to optimize your app for acquisition, engagement and retention."
---
{{#with page_data}}
<div class="page-bg android bg-img" style="background-image: url('{{main_bg_img}}')">
  <div class="container flex-tablet">
      <div class="columns four">
        <img src="{{top_content.TR_android_img}}" class="bg-img android-img" >
      </div>
      <div class="columns eight android__content">
        <div class="is-visible">
          <h1>{{{top_content.TR_title}}}</h1>
          <p>{{top_content.TR_sub_title}}</p>
          <form id="android-form" novalidate autocomplete="off">
            <fieldset>
              <div class="flex-cont">
                <div class="flex-item">
                  <label>
                    <span class="email-related error-hide">{{form.TR_required}}</span>
                    <input type="email" name="email" placeholder="{{form.TR_email_placeholder}}" required>
                  </label>
                </div>
                <div class="flex-item">
                  <button type="submit">{{form.TR_button_text}}</button>
                </div>
              </div>
            </fieldset>
            <div class="options">
              <p class="error-message error-hide">{{form.TR_invalid}}</p>
            </div>
            <p class="android__content--smaller">{{ios_link.TR_text}} <a href="{{../linkPath}}/mobile">{{ios_link.TR_anchor}}</a></p>
          </form>
        </div>
        <div class="is-hidden optly-hide">
          <h1>{{{hidden_content.TR_title}}}</h1>
          <p>{{hidden_content.TR_content}}</p>
          <a class="btn" href="{{hidden_content.access_link}}" target="_blank">{{hidden_content.TR_button_text}}</a>
          <p class="android__content--smaller">{{ios_link.TR_text}} <a href="{{../linkPath}}/mobile">{{ios_link.TR_anchor}}</a></p>
        </div>
      </div>
  </div>
</div>
{{/with}}
