---
layout: "custom.hbs"
seo_title: "Optimizely on Android"
page_script:
- android.js
---
{{#with android_data}}
<div class="page-bg android">
  <div class="container ">
      <div class="columns five">
        <img src="{{../assetsDir}}{{top_content.featured_img}}" />
      </div>
      <div class="columns seven android__content is-visible">
        <h1>{{{top_content.title}}}</h1>
        <p>{{top_content.sub_title}}</p>
          <form novalidate>
            <fieldset>
              <input type="email" style="background-image: url('https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/mobile-mvpp/email-grey.svg')" name="email" placeholder="email" required>
              <input type="hidden" name='LeadSource' id='LeadSource' value="Website">
              <input type="hidden" name='Lead_Source_Category__c' id='Lead_Source_Category__c' value="Content">
              <input type="hidden" name='Lead_Source_Subcategory__c' id='Lead_Source_Subcategory__c' value="PMM">
              <button type="submit">{{form.button_text}}</button>
            </fieldset>
            <p class="android__content--smaller">{{ios_link.text}} <a href="/mobile">{{ios_link.anchor}}</a></p>
          </form>
      </div>
      <div class="columns seven android__content android__content--thanks is-hidden">
        <h1>{{{hidden_content.title}}}</h1>
        <p>{{hidden_content.content}}</p>
        <a class="btn" href="#">{{hidden_content.button_text}}</a>
        <p class="android__content--smaller">{{ios_link.text}} <a href="{{linkPath}}/mobile">{{ios_link.anchor}}</a></p>
      </div>
  </div>
</div>
{{/with}}
