---
layout: opticon.hbs
seo_title: Opticon About
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-about
external_stylesheets:
- //cloud.typography.com/7838232/736966/css/fonts.css
---

<div class="confetti-right"></div>
<div class="page-content paragraphs-container container">
  {{#with opticon_about}}
  <h2 class="page-title">{{page_title}}</h2>
  <div class="top-paragraph">
    <h3 class="description-title">{{top_paragraph.title}}</h3>
    <p class="description-text">{{top_paragraph.blurb1}}</p>
    <p class="description-text">{{top_paragraph.blurb2}}</p>
    <a class="body-button" href="http://pages.optimizely.com/rs/optimizely/images/Opticon_2015_Justify_Your_Trip.pdf">{{top_paragraph.cta}}</a>
  </div>
  <div class="flex-container">
    <div class="left-paragraph">
      <h3 class="description-title">{{left_paragraph.title}}</h3>
      <p class="description-text">{{left_paragraph.blurb}}</p>
      <a class="body-button" href="https://opticon2015.eventbrite.com/">{{left_paragraph.cta}}</a>
    </div>
    <div class="right-paragraph">
      <h3 class="description-title">{{right_paragraph.title}}</h3>
      <p class="description-text">{{right_paragraph.blurb}}</p>
      <p class="disabled">{{right_paragraph.cta}}</p>
    </div>
    </div>
  {{/with}}
</div>

{{> opticon_register}}

<!--           -->
<!--Opticon FAQ-->
<!--           -->
<div class="container " id="opticon-faq">
  {{#with opticon_about.faq_section}}
  <h3 class="">{{title}}</h3>
  <div class="faq-container flex-container">
    {{#each faqs}}
    <div class="faq-item">
      <p>{{this.question}}</p>
      <p>{{this.answer}}</p>
    </div>
    {{/each}}
    {{/with}}
  </div>
</div>

{{> opticon_sponsors}}
