---
layout: jobs
TR_seo_title: "Jobs - Optimizely"
page_script: jobs.js
external_stylesheets:
- "//cloud.typography.com/7838232/629986/css/fonts.css"
---
{{#if page_data.benefits}}
<div class="container benefits">
    <div class="row">
        {{#if page_data.benefits.header}}<h2 class="heading center a-center blue">{{page_data.benefits.header}}</h2>{{/if}}
        {{#if page_data.benefits.list}}
        <ul id="jobs-icons" class="list-unstyled">
          {{#each page_data.benefits.list}}
          {{#classgridstart @index 2}}
          <div class="row">
          {{/classgridstart}}
          <li id="{{id}}" class="columns five {{#is_odd @index}}offset-two{{/is_odd}}">
            <h6>{{header}}</h6>
            <p>{{body}}</p>
          </li>
          {{#classgridfinish @index @last 2}}
          </div>
          {{/classgridfinish}}
          {{/each}}
        </ul>
        {{/if}}
        {{#if page_data.benefits.communities}}
        <div id="{{page_data.benefits.communities.id}}" class="communities">
          <h6>
            <a href="{{linkPath}}/communities">{{page_data.benefits.communities.title}}</a>
          </h6>
          <p>{{page_data.benefits.communities.body}}</p>
        </div>
        {{/if}}
    </div>
</div>
{{/if}}
<div class="testimonials">
    <div class="container">
        <h4 class="a-center quotes">
            {{#each page_data.employee_testimonials}}
            <q {{#isnt @index 0}}class="hide"{{/isnt}}>{{quote}}</q>
            {{/each}}
        </h4>
        <ul class="employee-icons">
            {{#each page_data.employee_testimonials}}
            <li {{#isnt @index 0}}class="opaque"{{/isnt}}>
                <a href="#">
                    <img src="{{image}}">
                    <h5 class="name">{{name}}</h5>
                    <h6 class="employee-title">{{title}}</h6>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="jobs-list" id="jobs-list">
    <div class="container">
        <div class="row">
            <div class="" id="job-list-cont">
                <h2 class="a-center blue">{{page_data.job_openings_header}}</h2>
            </div>
        </div>
    </div>
</div>
