---
layout: opticon
seo_title: Opticon Event Info
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-about
og_title: "Opticon 2015"
og_description: "Join me at Opticon and learn why experience optimization is a must for your business."
external_script:
- //use.typekit.net/ucj0cgp.js
---

<div class="confetti-container">
  <div class="confetti-right"></div>
</div>
<div class="page-content paragraphs-container container" l10n-skip>
  {{#with page_data}}
  <h2 class="page-title common-page-title adelle-sans--bold">{{page_title}}</h2>
  <div class="top-paragraph">
    <h3 class="description-title adelle-sans">{{top_paragraph.title}}</h3>
    <p class="description-text adelle-sans">{{top_paragraph.blurb}}</p>
    <a class="opticon-button adelle-sans" href="http://pages.optimizely.com/rs/optimizely/images/Opticon_2015_Justify_Your_Trip.pdf">{{top_paragraph.cta}}</a>
    <p class="adelle-sans description-text">
      {{top_paragraph.cta_2014}}
      <a href="{{../linkPath}}/opticon/opticon-2014">{{top_paragraph.cta_2014_link_text}} &raquo;</a>
    </p>
  </div>
  <div class="flex-container">
    <div class="left-paragraph">
      <h3 class="description-title adelle-sans">{{left_paragraph.title}}</h3>
      <p class="description-text adelle-sans">{{left_paragraph.blurb}}</p>
      <a class="opticon-button adelle-sans" href="https://opticon2015.eventbrite.com/">{{left_paragraph.cta}}</a>
    </div>
    <div class="right-paragraph">
      <h3 class="description-title adelle-sans">{{right_paragraph.title}}</h3>
      <p class="description-text adelle-sans">{{right_paragraph.blurb}}</p>
      <a class="opticon-button adelle-sans" href="http://pages.optimizely.com/rs/optimizely/images/Opticon_2015_Sponsorship_Prospectus.pdf">{{right_paragraph.cta}}</a>
    </div>
  </div>
  {{/with}}
</div>

{{> opticon_register}}

<!--           -->
<!--Opticon FAQ-->
<!--           -->
<div class="container " id="opticon-faq" l10n-skip>
  {{#with page_data.faq_section}}
  <h3 class="description-title adelle-sans">{{title}}</h3>
  <div class="faq-container flex-container">
    {{#each faqs}}
    <div class="faq-item">
      <p class="question adelle-sans">{{this.question}}</p>
      <div class="answer adelle-sans">
        {{{this.answer}}}
      </div>
    </div>
    {{/each}}
    {{/with}}
  </div>
</div>
