---
layout: opticon.hbs
seo_title: Opticon Agenda
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-agenda
external_stylesheets:
- //cloud.typography.com/7838232/736966/css/fonts.css
---

{{#with agenda_data}}
<div class="content-container container">
  <h1 class="page-title common-page-title">{{title}}</h1>
  <p class="subtitle">{{sub_title}}</p>

  <div class="agenda-container flex-container">
    <div class="agenda-day">
      <h3 class="description-title">{{first_day.title}}</h3>
      {{#each first_day.times}}
      <div class="agenda-row">
        <p class="agenda-time">{{{this.time}}}</p>
        <p class="agenda-event">{{this.event}}</p>
    </div>
      {{/each}}
    </div>

    <div class="agenda-day">
      <h3 class="description-title">{{second_day.title}}</h3>
      {{#each second_day.times}}
      <div class="agenda-row">
        <p class="agenda-time">{{{this.time}}}</p>
        <p class="agenda-event">{{this.event}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/with}}
