---
layout: opticon
seo_title: Opticon Agenda
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-agenda
page_script: opticon-agenda.js
og_title: "Opticon 2015"
og_description: "Join me at Opticon and learn why experience optimization is a must for your business."
external_script:
- //use.typekit.net/ucj0cgp.js
---

{{#with page_data}}
<div class="content-container container" l10n-skip>
  <h1 class="page-title common-page-title adelle-sans--bold">{{title}}</h1>

  <div class="row" id="filter-row">
    <a class="day-link" id="day-one-link" href="#day-one">
      <h4 class="agenda-day agenda-day--active adelle-sans" id="day-one-header">{{day_one}}</h4>
    </a>
    <a class="day-link" id="day-two-link" href="#day-two">
      <h4 class="agenda-day adelle-sans" id="day-two-header">{{day_two}}</h4>
    </a>
    {{! Filter Pill }}
    <div class="pill pill--opticon">
      <div class="adelle-sans">{{filter_box.title}}</div>
      <div class="dropdown-cont js-dropdown adelle-sans">{{filter_box.track_section.title}} &#9662;
        <ul>
          {{#each filter_box.track_section.tracks}}
          <li class="filter-item js-filter-item adelle-sans" data-filter="{{ createClassList this }}">{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="dropdown-cont js-dropdown adelle-sans">{{filter_box.role_section.title}} &#9662;
        <ul>
          {{#each filter_box.role_section.roles}}
          <li class="filter-item js-filter-item adelle-sans" data-filter="{{ createClassList this }}">{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <a href="#" class="filter--reset js-reset tooltip-hover adelle-sans" data-content="Reset filters">{{filter_box.reset}}</a>
    </div>{{! /pill }}
  </div>{{! /row }}

  {{! Agenda }}
  {{#each days}}
  <h3 id="{{this.html_id}}" class="description-title adelle-sans">{{this.title}}</h3>
    {{#each this.time_slots}}
      <div class="time-slot js-time-slot">
        <h4 class="time-slot__time adelle-sans">{{this.start_time}}</h4>
        <div class="time-slot__content js-events">
          {{#if this.title}}
            <h5 class="event-title event-title--everyone adelle-sans">{{this.title}}</h5>
          {{/if}}
          {{#each this.events}}
          <div class="event-cont js-event" data-track="{{this.track}}" data-roles="{{this.roles}}">
              <h5 class="js-accordian-control event-title event-title--choice adelle-sans">{{this.title}}</h5>
              <span class="expansion-arrow js-arrow">&#10095;</span>
              {{#if this.companies}}
                <p class="speaker-companies adelle-sans">Featuring speakers from {{this.companies}}</p>
              {{/if}}
              <div class="js-toggle-cont">
                <div class="speaker-cont">
                  {{#each this.speakers}}
                    <p class="speaker-cont__speaker event-text adelle-sans">{{this.name}}, {{this.job_title}}, {{this.company}}</p>
                  {{/each}}
                </div>
                <p class="event-text adelle-sans--bold">Time: {{this.time}} | Location: {{this.location}}</p>
                <div class="event-text adelle-sans">{{{this.description}}}</div>
              </div>{{! /toggle-cont }}
            </div>{{! /event-cont }}
          {{/each}}
        </div>{{! /time-slot__content }}
      </div>{{! /time-slot }}
    {{/each}}
  {{/each}}
</div>{{! /content-container }}
{{/with}}
