---
layout: opticon.hbs
seo_title: Opticon Agenda
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-agenda
page_script: opticon-agenda.js
og_title: "Opticon 2015"
og_description: "Join me at Opticon and learn why experience optimization is a must for your business."
external_script:
- //use.typekit.net/ucj0cgp.js
---

{{#with agenda_data}}
<div class="content-container container">
  <h1 class="page-title common-page-title adelle-sans--bold">{{title}}</h1>

  <div class="row">
    <h4 class="agenda-day agenda-day--active adelle-sans">{{day_one}}</h4>
    <h4 class="agenda-day adelle-sans">{{day_two}}</h4>
    {{! Filter Pill }}
    <div class="pill pill--opticon">
      <div class="adelle-sans">{{filter_box.title}}</div>
      <div class="dropdown-cont js-dropdown">{{filter_box.track_section.title}} &#9662;
        <ul>
          {{#each filter_box.track_section.tracks}}
          <li class="filter-item js-filter-item adelle-sans" data-filter="{{ createClassList this }}">{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="dropdown-cont js-dropdown">{{filter_box.role_section.title}} &#9662;
        <ul>
          {{#each filter_box.role_section.roles}}
          <li class="filter-item adelle-sans" data-filter="{{ createClassList this }}">{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <a href="#" class="filter--reset tooltip-hover adelle-sans" data-content="Reset filters">{{filter_box.reset}}</a>
    </div>{{! pill }}
  </div>

  {{! Agenda }}
  {{#each days}}
    <h3 class="description-title adelle-sans">{{this.title}}</h3>
    {{#each this.time_slots}}
      <div class="time-slot">
        <h4 class="time-slot__time">{{this.start_time}}</h4>
        <div class="time-slot__content">
          {{#if this.title}}
            <h5 class="event-title event-title--everyone">{{this.title}}</h5>
          {{/if}}
          {{#each this.events}}
          <div class="event-cont" data-track="{{this.track}}" data-roles="{{this.roles}}">
              <h5 class="js-accordian-control event-title event-title--choice">{{this.title}}</h5>
              <span class="expansion-arrow js-arrow">&#10095;</span>
              <div class="js-toggle-cont">
                <div class="speaker-cont">
                  {{#each this.speakers}}
                    <p class="speaker-cont__speaker event-text adelle-sans">{{this.name}}, {{this.job_title}}, {{this.company}}</p>
                  {{/each}}
                </div>
                <p class="event-text adelle-sans--bold">Time: {{this.time}} | Location: {{this.location}}</p>
                <p class="event-text adelle-sans">{{this.description}}</p>
              </div>{{! toggle-cont }}
            </div>
          {{/each}}
        </div>
      </div>{{! time-slot }}
    {{/each}}
  {{/each}}
</div>
{{/with}}
