---
layout: opticon.hbs
seo_title: Opticon Agenda
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-agenda
og_title: "Opticon 2015"
og_description: "Join me at Opticon and learn why experience optimization is a must for your business."
external_script:
- //use.typekit.net/ucj0cgp.js
---

{{#with agenda_data}}
<div class="content-container container">
  <h1 class="page-title common-page-title adelle-sans--bold">{{title}}</h1>
  {{#each days}}
    <h3 class="description-title adelle-sans">{{this.title}}</h3>
    {{#each this.time_slots}}
      <div class="time-slot">
        <h4 class="time-slot__time">{{this.start_time}}</h4>
        <div class="time-slot__content">
          {{#if this.title}}
            <h5>{{this.title}}</h5>
          {{/if}}
          {{#each this.events}}
            <h5>{{this.title}}</h5>
            {{#each this.speakers}}
              <h6>{{this.name}}, {{this.job_title}}, {{this.company}}</h6>
            {{/each}}
            <h6>Time: {{this.time}} | Location: {{this.location}}</h6>
            <h6>{{this.description}}</h6>
          {{/each}}
        </div>
      </div>
    {{/each}}
  {{/each}}
</div>
{{/with}}
