---
layout: resources-page.hbs
seo_title: Resources
visible_title: "Resources"
no_container: true
sub_head: Everything you need about Optimization
page_script: resources-page.js
body_class:
- resources-page
script_dependencies:
- "//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"
---

<div class="container">
  <div class="row">
    <div class="resources-grid">
      {{#each resources-page.resources}}
        <div class="resources-grid-elm {{#toLowerCase type}}{{/toLowerCase}}">
          <div class="resources-image">
            <a href="{{url}}"><img src="{{image_path}}"></a>
          </div>
          <div class="resources-title"><a href="{{url}}">{{title}}</a></div>
          <div class="resource-type">{{type}}</div>
        </div>
      {{/each}}
    </div><!-- /.resources-grid -->
    <div class="integrations-message">
      <p>{{{resources-page.filter.no_results}}}</p>
    </div>
  </div><!-- /.row-->
</div><!-- /.container-->
