---
layout: mobile
TR_seo_title: "Mobile A/B Testing - Optimizely"
compact_header: false
modals:
- video_modal
body_class:
- mobile-page
page_script: mobile.js
footer_style: grey
TR_og_title: "Mobile A/B Testing from Optimizely"
TR_og_description: "Learn how to optimize your app for acquisition, engagement, and retention."
---
<section id="hero" class="panel bg-img" style="background-image: url('{{page_data.hero.bg_img}}')">
  {{#with page_data.hero}}
    <div id="cta-variation">
      <h1>{{{title}}}</h1>
      <div class="flex-responsive">
        <a href="#" class="outline-button" data-show-video><span class="circle-arrow"></span>{{vid_btn_txt}}</a>
        <a href="#signup-form-panel-b" class="outline-button slide-button" smooth-scroll>{{signup_btn_txt}}</a>
      </div>
      <p>{{link_text}} <a href="{{../linkPath}}/android">{{link_anchor_text}}</a></p>
      <a href="#signup-form-panel-b" class="scroll-down-icon" smooth-scroll></a>
    </div>
  <div id="signup-form-panel-top">
  <h1>{{{title}}}</h1>
  {{/with}}
  {{#with page_data.form_panel}}
  <form action="{{../apiDomain}}/account/create" method="POST" id="mobile-signup-form-top" class="container" novalidate autocomplete="off">
    <div class="row grid-cont">
      <div class="form-grid">
        <label>
            <span class="email-related error-hide error-right">{{tr 'Required'}}</span>
            <input type="email" name="email" placeholder="{{email}}" required>
        </label>
      </div>
      <div class="form-grid">
        <label>
            <span class="password1-related error-hide error-right">{{tr 'Required'}}</span>
            <input type="password" name="password1" placeholder="{{password}}" required>
        </label>
      </div>
      <div class="form-grid">
        <button title="{{submit_button}}" data-success="{{submit_success}}" type="submit" class="submit-btn"></button>
      </div>
    </div>
    <input type="hidden" name="hidden" value="">
    <input type="hidden" name="flow" value="nux">
    <input type="hidden" name="platform" value="ios">
    <input type="hidden" name="Initial_Form_Source__c" value="Create Account - Mobile">
    <div class="options">
        <p class="error-message error-hide">Please Correct Form Errors</p>
    </div>
  </form>
  <p>{{link_text}}</p>
  {{/with}}
  <a href="#" class="video-link" data-show-video><span class="circle-arrow"></span>{{tr 'Watch Video'}}</a>
  </div>
</section>
{{#with page_data.top_grid}}
<section id="fast-powerful-panel"class="panel">
  <div class="container">
    <h2><strong>{{title}}</strong></h2>
    <h2>{{sub_title}}</h2>
    <div class="flex-cont">
      {{#each grid_content}}
      <div class="flex-content">
        <div class="grid-icon bg-img" style="background-image: url('{{icon}}')"></div>
        <h5><strong>{{title}}</strong></h5>
        <p>{{grid_content}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</section>
{{/with}}
{{#each page_data.panels}}
<section id="panel-{{add @index 1}}" class="panel editor-demo" data-interactive-panel>
  <div class="container flex-cont">
    <div class="flex-img-cont{{#is_odd @index}} order-2{{/is_odd}}">
      <img src="{{bg_img_static}}" data-img-index="{{@index}}" data-static="{{bg_img_static}}" data-dynamic="{{bg_img_dynamic}}"/>
    </div>
    <div class="flex-1-content">
      <h3>{{{title}}}</h3>
      <p>
        {{text}}
        {{#if beta_text}}
          <span class="beta">{{beta_text}}</span>
        {{/if}}
      </p>
    </div>
  </div>
</section>
{{/each}}
{{#with page_data}}
<section id="customer-logos" class="panel">
  <div class="container">
    <div class="section-container">
      {{{customer_logos.body}}}
    </div>
    <div class="icon-cont">
      {{#each customer_logos.icons}}
      <div class="icon-wrap">
        <div class="cust-icon" style="background-image: url('{{url}}')"></div>
        <p class="icon-name">{{name}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<section id="ideas" class="panel">
  <h2>{{{testing_ideas.header}}}</h2>
  <div class="ideas-cont flex-cont">
    {{#each testing_ideas.ideas_grid}}
    <a {{#isnt article_link "#"}}href="{{article_link}}" target="_blank"{{/isnt}} class="single-idea-cont flex-cont{{#isnt article_link "#"}} hover-underline{{/isnt}}">
      <div class="idea-icon">
        <div class="bg-img static" style="background-image: url('{{icon_static}}')"></div>
        <div class="bg-img dynamic" style="background-image: url('{{icon_dynamic}}')"></div>
      </div>
      <div class="idea-content">
        <h4>{{title}}</h4>
        <p>{{text}}</p>
      </div>
    </a>
    {{/each}}
  </div>
</section>
{{/with}}
<section id="signup-form-panel-bottom" class="panel bg-img" style="background-image: url('{{page_data.form_panel.bg_img}}')">
{{#with page_data.form_panel}}
  <h2><strong>{{title}}</strong></h2>
  <h2>{{subtitle}}</h2>
  <form action="{{../apiDomain}}/account/create" method="POST" id="mobile-signup-form-bottom" class="container" novalidate autocomplete="off">
    <div class="row grid-cont">
      <div class="form-grid">
        <label>
            <span class="email-related error-hide error-right">{{tr 'Required'}}</span>
            <input type="email" name="email" placeholder="{{email}}" required>
        </label>
      </div>
      <div class="form-grid">
        <label>
            <span class="password1-related error-hide error-right">{{tr 'Required'}}</span>
            <input type="password" name="password1" placeholder="{{password}}" required>
        </label>
      </div>
      <div class="form-grid">
        <button title="{{submit_button}}" data-success="{{submit_success}}" type="submit" class="submit-btn"></button>
      </div>
    </div>
    <input type="hidden" name="hidden" value="">
    <input type="hidden" name="flow" value="nux">
    <input type="hidden" name="platform" value="ios">
    <input type="hidden" name="Initial_Form_Source__c" value="Create Account - Mobile">
    <div class="options">
        <p class="error-message error-hide">Please Correct Form Errors</p>
    </div>
  </form>
  <p>{{link_text}}</p>
{{/with}}
</section>
