<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html dir="ltr" lang="en-US" class="no-js iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-US" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="no-js ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" lang="en-US" class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        {{#if environmentVariables.production}}
        <script>
          var _sf_startpt=(new Date()).getTime()
          var monitorTiming = setInterval(function(){
            if(window.optimizely){
              window.optimizelyLoadTime = (new Date).getTime() - _sf_startpt;
              clearInterval(monitorTiming);
            }
          }, 100);
        </script>
        {{/if}}
        <script src="{{assetsDir}}/js/libraries/jquery-modernizr-om.min.js"></script>
        <script src="//cdn.optimizely.com/js/{{environmentVariables.optimizelyProjectID}}.js"></script>
        <script type="text/javascript">
          window.apiDomain = '{{apiDomain}}';
          !function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
          analytics.load('{{environmentVariables.segmentProjectID}}');
          analytics.page()
        }}();
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{#if environmentVariables.staging}}<meta name="robots" content="noindex">{{/if}}
        <title>{{#if this.TR_seo_title}}{{this.TR_seo_title}}{{else}}Optimizely: Make every experience count{{/if}}</title>
        {{!-- Standard meta tags --}}
        <meta name="description" content="{{#if this.description}}{{this.description}}{{else}}Deliver your best customer experiences at every touchpoint on the web and mobile apps.{{/if}}">
        <meta name="keywords" content="AB test, split test, multivariate testing, conversion rate, experience optimization">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{!-- Open Graph meta tags --}}
        <meta property="og:title" content="Optimizely: {{#if this.og_title}}{{this.og_title}}{{else}}Make every experience count{{/if}}">
        <meta property="og:description" content="{{#if this.og_description}}{{this.og_description}}{{else}}Deliver your best customer experiences at every touchpoint on the web and mobile apps.{{/if}}">
        {{#if environmentVariables.production}}
        <script>
        (function(d,b,a,s,e) {
          var t = b.createElement(a), fs = b.getElementsByTagName(a)[0];
          t.async=1; t.id=e; t.src=('https:'==document.location.protocol ? 'https://' : 'http://') + s;
          fs.parentNode.insertBefore(t, fs);
        })(window,document,'script','scripts.demandbase.com/q8GATaKQ.min.js','demandbase_js_lib');
        </script>
        {{/if}}
        {{#if this.ui_test}}
        <link rel="stylesheet" href="{{assetsDir}}/css/qunit-1.17.1.css" type="text/css" media="screen">
        <script src="{{assetsDir}}/js/om/libraries/qunit-1.17.1.js"></script>
        <script src="{{assetsDir}}/js/om/test/test.js"></script>
        {{/if}}
        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        {{#if this.external_stylesheets}}
        {{#each this.external_stylesheets}}
        <link rel="stylesheet" type="text/css" href="{{.}}">
        {{/each}}
        {{/if}}
        <link rel="stylesheet" type="text/css" href="{{assetsDir}}/css/om/styles.css">
        {{#if this.head_script ~}}<script src="{{this.head_script}}"></script>{{/if}}
        {{#if environmentVariables.production}}
        <script id="bizible-settings" type="text/javascript" src="//cdn.bizible.com/_biz-a.js" async data-attach-secure-forms="true"></script>
        {{/if}}
    </head>
     <body class="signed-out{{#if this.compact_header}} compact-header{{/if}}{{#each layout_body_class}} {{.}}{{/each}}{{#each this.body_class}} {{.}}{{/each}}">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{#if this.ui_test}}
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
        {{/if}}
        <div id="outer-wrapper">
            <div id="inner-wrapper">
                <header>
                  <div class="container">
                    <p class="logo"><a href="{{linkPath}}/">Optimizely</a></p>
                  </div>
                </header>
                {% body %}
                <footer {{#if this.footer_style}}class="{{this.footer_style}}"{{/if}}>
                    <div class="container footer-wrapper">
                        <p><a class="logo" href="{{linkPath}}/">Optimizely</a></p>
                        <div id="footer-nav-cont">
                            <div class="left-nav">
                              <p>&copy; {{moment format="YYYY"}}, Optimizely. All Rights Reserved</p>
                                <ul id="legalese" class="clearfix">
                                    <li class="terms"><a href="{{linkPath}}/terms/" id="SL-link-terms" class="SL_swap">Terms of Service</a> &nbsp;<span class="seperator">|</span></li>
                                    <li><a href="{{linkPath}}/privacy/" id="SL-link-privacy" class="SL_swap">Privacy Policy</a> &nbsp;<span class="separator">|</span></li>
                                    <li class="security"><a href="{{linkPath}}/security/">Security</a></li>
                                </ul>
                                <ul class="social-links">
                                    <li><a href="http://twitter.com/optimizely" id="SL-link-twitter" target="_blank" class="twitter SL_swap">Twitter</a></li>
                                    <li><a href="http://www.facebook.com/optimizely" id="SL-link-facebook" target="_blank" class="facebook SL_swap">Facebook</a></li>
                                    <li><a href="https://www.linkedin.com/company/optimizely" id="SL-link-linked" target="_blank" class="linkedin SL_swap">LinkedIn</a></li>
                                    <li><a href="https://plus.google.com/+optimizely/posts" id="SL-link-gplus" target="_blank" class="google-plus SL_swap">Google+</a></li>
                                </ul>
                            </div><!--/.left-->
                            <div class="right-nav">
                                    <ul id="footer-nav" class="row">
                                        <li id="footer-nav-features" class="columns three">
                                            <h4>Product Features &amp; Benefits</h4>
                                            <ul>
                                                <li><a href="{{linkPath}}/pricing">Plans and Pricing</a></li>
                                                <li><a href="{{linkPath}}/benefits/">Benefits</a></li>
                                                <li><a href="{{linkPath}}/mobile/">iOS</a></li>
                                                <li><a href="{{linkPath}}/partners/">Optimizely for Agencies</a></li>
                                                <li><a href="http://developers.optimizely.com">Optimizely for Developers</a></li>
                                                <li><a href="{{linkPath}}/ecommerce/">Optimizely for E-commerce</a></li>
                                                <li><a href="{{linkPath}}/enterprises/">Optimizely for Enterprises</a></li>
                                                <li><a href="{{linkPath}}/publishers/">Optimizely for Publishers</a></li>
                                                <li><a href="{{linkPath}}/small-business/">Optimizely for Small Business</a></li>
                                            </ul>
                                        </li>
                                        <li id="footer-nav-customers" class="columns two">
                                            <h4>Customers</h4>
                                            <ul>
                                                <li><a href="{{linkPath}}/customers/">Customer List</a></li>
                                                <li><a href="{{linkPath}}/customers/customer-stories/">Customer Stories</a></li>
                                            </ul>
                                        </li>
                                        <li id="footer-nav-resources" class="columns three">
                                          <h4>Resources</h4>
                                          <ul>
                                            <li><a href="{{linkPath}}/ab-testing/">What is A/B Testing?</a></li>
                                            <li><a href="{{linkPath}}/split-testing/">What is Split Testing?</a></li>
                                            <li><a href="{{linkPath}}/resources/multivariate-testing/">What is Multivariate Testing?</a></li>
                                            <li><a href="{{linkPath}}/resources/live-demo-webinar/">Live Demo Signup</a></li>
                                            <li><a href="{{linkPath}}/partners/solutions/">Solutions Partners</a></li>
                                            <li><a href="{{linkPath}}/partners/technology/">Integrations</a></li>
                                            <li><a href="{{linkPath}}/customers/">Customer List</a></li>
                                            <li><a href="{{linkPath}}/faq/">FAQ</a></li>
                                            <li><a href="https://community.optimizely.com">Community</a></li>
                                            <li><a href="https://help.optimizely.com/hc/en-us">Knowledge Base</a></li>
                                            <li><a href="https://learn.optimizely.com">Academy</a></li>
                                            <li><a href="https://community.optimizely.com/t5/Browse-Groups/ct-p/opt_groups">User Groups</a></li>
                                            <li><a href="http://developers.optimizely.com">Developer Documentation</a></li>
                                            <li><a href="{{linkPath}}/resources/sample-size-calculator/">Sample Size Calculator</a></li>
                                            <li><a href="{{linkPath}}/resources/">Content Library</a></li>
                                            <li id="SL-link-blog" class="SL_swap"><a href="https://blog.optimizely.com">Blog</a></li>
                                          </ul>
                                        </li>
                                        <li id="footer-nav-about" class="columns two">
                                            <h4>About</h4>
                                            <ul>
                                                <li><a href="{{linkPath}}/about/">About</a></li>
                                                <li><a href="{{linkPath}}/jobs/">Jobs</a></li>
                                                <li><a href="{{linkPath}}/press/">Press</a></li>
                                                <li><a href="{{linkPath}}/events/">Events</a></li>
                                                <li><a href="{{linkPath}}/contact/">Contact</a></li>
                                            </ul>
                                        </li>
                                        <li id="footer-nav-other" class="columns two">
                                            <h4>Other</h4>
                                            <ul>
                                                <li><a href="{{linkPath}}/success">Customer Success</a></li>
                                                <li><a href="{{linkPath}}/demo/">Request a Demo</a></li>
                                                <li><a href="{{linkPath}}/opt_out/">Opt Out</a></li>
                                            </ul>
                                        </li>
                                    </ul><!--/#footer-nav-->
                                <div class="row intl-domains">
                                    <ul id="intl-domains" class="SL_norewrite" translate="no">
                                        <li class="first"><a href="https://www.optimizely.de/" title="German">Deutsch</a></li>
                                        <li><a href="https://www.optimizely.com/" title="English">English</a></li>
                                        <li><a href="https://www.optimizely.es/" title="Spanish">Español</a></li>
                                        <li><a href="https://www.optimizely.fr/" title="French">Français</a></li>
                                        <li><a href="https://www.optimizely.jp/" title="Japanese">日本語</a></li>
                                    </ul><!--/#intl-domain-->
                                </div>
                            </div><!--/.right-->
                        </div><!--/#footer-nav-cont-->
                    </div><!--/.container-->
                </footer>
            </div><!--/#inner-wrapper-->
        </div><!--/#outer-wrapper-->
        <script>
          var optly = optly || {};
          optly.mrkt = optly.mrkt || {};
          optly.mrkt.assetsDir = '{{assetsDir}}';
        </script>
        <script src="{{assetsDir}}/js/om/bundle.js"></script>
        {{#if this.script_dependencies}}
        {{#each this.script_dependencies}}
        <script src="{{.}}" defer></script>
        {{/each}}
        {{/if}}
        {{#if layout_script}}
        <script src="{{assetsDir}}/js/om/layouts/{{layout_script}}"></script>
        {{~/if}}
        {{#if this.page_script}}
        <script src="{{assetsDir}}/js/om/pages/{{this.page_script}}"></script>
        {{/if}}
        {{#if environmentVariables.production}}
        {{> ad_tags}}
        {{/if}}
    </body>
</html>
