              <ul class="become-partner-fields technology clearfix">
                <li>
                  <label id="first-name-label">
                      <span>{{tr 'First name'}}:</span>
                      <span class="name-related error-hide error-right first_name-related">{{tr 'Required'}}</span>
                      <input type="text" name="first_name" autofocus required>
                  </label>
                </li>
                <li>
                  <label id="last-name-label">
                      <span>{{tr 'Last name'}}:</span>
                      <span class="last_name-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="last_name" required>
                  </label>
                </li>
                <li>
                  <label id="role-label">
                      <span>{{tr 'Role'}}:</span>
                      <span class="title-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="role" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="email-address-label">
                      <span>{{tr 'Email address'}}:</span>
                      <span class="email_address-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="email" name="email" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="company-name-label">
                      <span>{{tr 'Company name'}}:</span>
                      <span class="company_name-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="company" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="website-label">
                      <span>{{tr 'Company Website'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="website" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="description-label">
                      <span>{{tr 'Company Description'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="Tech_Partner_Company_Description__c" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="reason-label">
                      <span>{{tr 'Why are you interested in partnering with Optimizely?'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="Tech_Partner_goal_for_partnership__c" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="address-label">
                      <span>{{tr 'Address'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="address" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="city-label">
                      <span>{{tr 'City'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="city" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="state-label">
                      <span>{{tr 'State'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                  </label>
                  <select id="state" name="state" tabindex="1">
                    <option value="AK">AK</option>
                    <option value="AL">AL</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DC">DC</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="IA">IA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MD">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VA">VA</option>
                    <option value="VT">VT</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                  </select>
                </li>
                <li class="form-row">
                  <label id="zip-label">
                      <span>{{tr 'Zip code'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="zip" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="country-label">
                      <span>{{tr 'Country'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="country" required>
                  </label>
                </li>                                                           <li class="form-row">
                  <label id="customers-label">
                      <span>{{tr 'How many customers do you have?'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                  </label>
                  <select id="Tech_Partner_Number_of_Customers__c" name="Tech_Partner_Number_of_Customers__c" tabindex="1">
                    <option value="">{{tr 'Select an option...'}}</option>
                    <option value="Fewer than 100">{{tr 'Fewer than 100'}}</option>
                    <option value="100-999">{{tr '100-999'}}</option>
                    <option value="1,000-4,999">{{tr '1,000-4,999'}}</option>
                    <option value="5,000-9,999">{{tr '5,000-9,999'}}</option>
                    <option value="More than 10,000">{{tr 'More than 10,000'}}</option>
                  </select>
                </li>
                <li class="form-row">
                  <label id="target-label">
                      <span>{{tr 'What is your target number? (check all that apply)'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                  </label>
                  <div class="checkboxes">
                    <div>
                      <span><input type="checkbox" name="Retail_ecommerce_target__c"> Retail / ecommerce</span>
                    </div>
                    <div>
                      <span><input type="checkbox" name="Travel_target__c"> Travel</span>
                    </div>
                    <div>
                      <span><input type="checkbox" name="Media_target__c"> Media</span>
                    </div>
                    <div>
                      <span><input type="checkbox" name="B2B_Technology_target__c"> B2B / Technology</span>
                    </div>
                    <div>
                      <span><input type="checkbox" name="Other_target__c"> Other _________</span>
                    </div>
                  </div><!--/.checkboxes-->
                </li>
                <li class="form-row">
                  <label id="buyer-label">
                      <span>{{tr 'What is the title of your primary buyer?'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                  </label>
                  <select id="Tech_Partner_Primary_Buyer__c" name="Tech_Partner_Primary_Buyer__c" tabindex="1">
                    <option value="Analytics">{{tr 'Analytics'}}</option>
                    <option value="Engineering">{{tr 'Engineering'}}</option>
                    <option value="Product">{{tr 'Product'}}</option>
                    <option value="Marketing">{{tr 'Marketing'}}</option>
                    <option value="IT">{{tr 'IT'}}</option>
                    <option value="Operations">{{tr 'Operations'}}</option>
                    <option value="Sales">{{tr 'Sales'}}</option>
                    <option value="Other">{{tr 'Other'}}</option>
                  </select>

                </li>
                <li class="form-row">
                  <label id="percentage-label">
                      <span>{{tr 'What percentage of customers do you share with Optimizely?'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                  </label>
                  <select id="Tech_Partner_Percent_Shared_Customers__c" name="Tech_Partner_Percent_Shared_Customers__c" tabindex="1">
                    <option value="Less than 10%">{{tr 'Less than 10%'}}</option>
                    <option value="10-24%">{{tr '10-24%'}}</option>
                    <option value="25-49%">{{tr '25-49%'}}</option>
                    <option value="50-74%">{{tr '50-74%'}}</option>
                    <option value="More than 75%">{{tr 'More than 75%'}}</option>
                  </select>
                </li>
                <li class="form-row">
                  <label id="target-label">
                      <span>{{tr 'Do you want to build an integration into Optimizely?'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                  </label>
                  <div class="checkboxes">
                    <div>
                      <span><input type="checkbox" name="Tech_Partner_Want_to_Build_Integration">Yes</span>
                    </div>
                  </div><!--/.checkboxes-->
                </li>
                <li class="form-row">
                  <label id="target-label">
                      <span>{{tr 'What is your target number? (check all that apply)'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="number" name="target" required>
                  </label>
                </li>


                <li>
                  <label id="channels"><span>{{tr "Channels You'd Like to Test"}}:</span></label>
                  <div class="checkboxes">
                    <div>
                      <span><input type="checkbox" name="Web_Interest__c"> Web</span>
                    </div>
                    <div>
                      <span><input type="checkbox" name="Mobile_Web_Interest__c"> Mobile Web</span>
                      </div>
                    <div>
                      <span><input type="checkbox" name="iOS_Interest__c"> iOS</span>
                      </div>
                    <div>
                      <span><input type="checkbox" name="Android_Interest__c"> Android</span>
                      </div>
                  </div><!--/.checkboxes-->
                </li>

                <input type="hidden" value="Contact Sales" name="Inbound_Lead_Form_Type__c">


              </ul>
              <div class="options">
                <p class="error-message error-hide">{{tr 'Please Correct Form Errors'}}</p>
              </div>
