<!--           -->
<!--FAQ Section-->
<!--           -->
<section class="faq-section">
{{#with global_faq_section}}
  <div class="faq-container">
    {{#each faqs}}
    <p class="question">{{question}}</p>
    <p class="answer">{{{answer}}}</p>
    {{/each}}
  </div>
  <p class="contact-text">{{contact.text}}</p>
{{/with}}

{{#if page_data.page_header.phone_number}}
{{#with page_data.page_header}}
  <p class="phone-number" {{#if hide}}style="display:none;"{{/if}}>
    <a href="tel:{{phone_number}}">{{phone_number}}</a><br>
  </p>
{{/with}}
{{else}}
{{#with global_faq_section}}
  <p class="phone-number">
  US: <a href="tel:{{contact.us_phone_number}}">{{contact.us_phone_number}}</a><br>
  UK: <a href="tel:{{contact.uk_phone_number}}">{{contact.uk_phone_number}}</a>
  </p>
{{/with}}
{{/if}}
</section>
