<!--           -->
<!--FAQ Section-->
<!--           -->
<section class="faq-section">
{{#with global_faq_section}}
  <div class="faq-container">
    {{#each faqs}}
    <p class="question">{{question}}</p>
    <p class="answer">{{{answer}}}</p>
    {{/each}}
  </div>
  <p class="contact-text">{{contact.text}}</p>
  <p id="SL-pricing-phone-number-2" class="SL_swap phone-number">
  US: <a href="tel:{{contact.us_phone_number}}">{{contact.us_phone_number}}</a><br>
  UK: <a href="tel:{{contact.uk_phone_number}}">{{contact.uk_phone_number}}</a>
  </p>
{{/with}}
</section>
