<div id="feature-list">
{{#with global_feature_list}}
  <!--             -->
  <!--Title Section-->
  <!--             -->
  <div class="title-table-header row">
    <div class="starter columns four offset-four">
      <h1 >{{starter_header.title}}</h1>
      <p>{{{starter_header.desc}}}</p>
    </div>
    <div class="enterprise columns four">
      <h1 >{{enterprise_header.title}}</h1>
      <p>{{enterprise_header.desc}}</p>
    </div>
  </div>

  <!--              -->
  <!--Feature Tables-->
  <!--              -->
  {{#each tables}}
  <div class="table">
    <div class="table-header row">
      <p class="table-title columns four">{{this.title}}</p>
      <p class="table-desc columns eight">{{this.desc}}</p>
    </div>
    <div class="table-body">
      {{#each this.features}}
      <div {{#is this.title "Mobile Developer Tools"}}id="SL_mobile-dev-cont" {{/is}}class="table-row row{{#is this.title "Mobile Developer Tools"}} SL_swap{{/is}}">
          <div class="columns four row-title">
            {{#if this.tooltip}}
            <p><span {{#is this.title "Multichannel Experiments"}}id="SL_multichannel-text" class="SL_swap" {{/is}}title="{{this.tooltip}}" data-tooltip>{{this.title}}</span></p>
            {{else}}
              <p>{{this.title}}</p>
            {{/if}}
          </div>
          {{#if this.string}}
            {{#if this.starter_text}}
              <div class="starter-box columns four text"><p>{{{this.starter_text}}}</p></div>
            {{/if}}
            {{#if this.enterprise_text}}
              <div class="enterprise-box columns four text"><p>{{{this.enterprise_text}}}</p></div>
            {{/if}}
          {{/if}}
          {{#if this.boolean}}
            {{#if this.starter_bool}}
                <div class="starter-box columns four true"></div>
            {{else}}
                <div class="starter-box columns four false"></div>
            {{/if}}
            {{#if this.enterprise_bool}}
              <div class="enterprise-box columns four true"></div>
            {{else}}
              <div class="enterprise-box columns four false"></div>
            {{/if}}
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
  {{/each}}


  <!--                    -->
  <!--Bottom Title Section-->
  <!--                    -->
  <div class="title-table-header row">
    <div class="starter columns four offset-four">
      <h1 >{{starter_header.title}}</h1>
      <p>{{{starter_header.desc}}}</p>
    </div>
    <div class="enterprise columns four">
      <h1 >{{enterprise_header.title}}</h1>
      <p>{{enterprise_header.desc}}</p>
    </div>
  </div>
  <div class="cta row">
    <div class="starter columns four offset-four" id="feature-list-starter-cta-cont">
      <h1 class="">{{calls_to_action.starter.label}}</h1>
      <p class="current-plan-message">{{current_plan_message}}</p>
      <a class="starter-cta" id="feature-list-get-started-now">{{calls_to_action.starter.button_text}}</a>
    </div>
    <div class="enterprise columns four" id="feature-list-enterprise-cta-cont">
      <h1 class="">{{calls_to_action.enterprise.label}}</h1>
      <p class="current-plan-message">{{current_plan_message}}</p>
      <a class="enterprise-cta" id="feature-list-talk-to-us">{{calls_to_action.enterprise.button_text}}</a>
    </div>
  </div>
  {{/with}}
</div>
