<form action="{{../apiDomain}}/account/create" method="POST" id="{{id}}" class="container" novalidate autocomplete="off">
  <div class="row grid-cont">
    <div class="form-grid">
      <label>
        <span class="email-related error-hide error-right">{{tr 'Required'}}</span>
          <input type="email" name="email" placeholder="{{email}}" required>
      </label>
    </div>
    <div class="form-grid">
      <label>
          <span class="password1-related error-hide error-right">{{tr 'Required'}}</span>
          <input type="password" name="password1" placeholder="{{password}}" required>
      </label>
    </div>
    <div class="form-grid">
      <button title="{{submit_button}}" data-success="{{submit_success}}" type="submit" class="submit-btn"></button>
    </div>
  </div>
  <input type="hidden" name="hidden" value="" />
  <input type="hidden" name="flow" value="nux">
  <input type="hidden" name="Signup_Platform__c" value="ios">
  <input type="hidden" name="iOS_Interest__c" value="true">
  <input type="hidden" name="Initial_Form_Source__c" value="Create Account - Mobile">
  <div class="options">
    <p class="error-message error-hide">{{tr 'Please Correct Form Errors'}}</p>
  </div>
</form>
