---
layout: opticon.hbs
seo_title: Opticon
no_container: true
compact_header: true
page_script: opticon.js
footer_style: grey
body_class:
- opticon-speakers
---

<div class="row">
  <section class="title-container">
    <h1 class="tagline">
      Call for Speakers
    </h1>
    <h4 class="event-details">
      {{opticon_data.date}} | {{opticon_data.location}}
    </h4>
  </section><!-- /.title-container -->

  <section class="details panel">
    <div class="container">
      <h2 class="details-header">The Call for Speakers is officially open for Opticon 2015!</h2>
      <p class="details-description">{{speakers_data.speaker_description}}</p>
      <div class="tracks">
        {{#each speakers_data.tracks}}
          <div class="track-item">
            <h3 class="track-title">{{track_title}}</h3>
            <p class="class-description">{{track_description}}</p>
          </div>
        {{/each}}
      </div><!-- /.tracks -->
    </div><!-- /.container -->
  </section><!-- /.details -->

  <section class="apply panel">
    <h2 class="apply-header">Apply to speak at Opticon 2015</h2>
    <p class="apply-subheader">Submit and entry for each session you'd like to apply for by January 31, 2015</p>

    <form id="speaker-form" class="container" action="" novalidate>
      <div class="flex-container">
        <div class="columns five offset-one">
          <label for="" class="required">Name</label>
          <span class="Name-related error-hide error-right">Required</span>
          <input type="text" name="Name" required>

          <label for="" class="required">Job Title</label>
          <span class="JobTitle-related error-hide error-right">Required</span>
          <input type="text" name="JobTitle" required>

          <label for="" class="required">Company</label>
          <span class="Company-related error-hide error-right">Required</span>
          <input type="company" name="Company" required>
        </div>

        <div class="columns five offset-one">
          <label for="" class="required">Email</label>
          <span class="Email-related error-hide error-right">Required</span>
          <input type="text" name="Email" required>

          <label for="" class="required">Phone number</label>
          <span class="PhoneNumber-related error-hide error-right">Required</span>
          <input type="text" name="PhoneNumber" required>
        </div>
      </div>

      <div class="options">
        <p class="error-hide">Invalid Input</p>
      </div>
      <div class="button-container">
        <a class="next" href="#">Next</a>
      </div>
      <!--<button type="submit" class="outline-button">-->
        <!--<span class="sbmt-btn-text">Next</span>-->
        <!--<span class="sbmt-btn-icon"></span>-->
      <!--</button>-->
    </form>
  </section><!-- /.call-for-sponsors -->
</div><!-- /.row-->
