---
layout: opticon
TR_seo_title: Opticon
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-speakers
og_title: "Opticon 2015"
og_description: "Join me at Opticon and learn why experience optimization is a must for your business."
page_script: opticon-speakers.js
modals:
- opticon_speaker_modal
external_script:
- //use.typekit.net/ucj0cgp.js
---

<div class="page-content container">
  <h2 class="page-title common-page-title adelle-sans--bold">{{page_data.title}}</h2>
  <h3 class="description-title adelle-sans">{{page_data.subtitle}}</h3>

  {{! Keynote Speakers Section }}
  {{#with page_data.keynote_speakers}}
  <section class="speakers container">
    <h4 class="adelle-sans">{{this.title}}</h4>
    <div class="speakers-container flex-container">
      {{#each speaker_list}}
      <div class="speaker-container" style="background-image: url('{{this.image}}')">
        <p class="item-title adelle-sans--bold">{{this.name}}</p>
        <p class="item-source adelle-sans">{{this.company}}</p>
        <p class="js-speaker-info item-more-info adelle-sans--bold" data-name="{{this.name}}" data-image="url({{this.image}})" data-company="{{this.company}}" data-bio="{{this.blurb}}">READ BIO →</p>
      </div>
      {{/each}}
    </div>
  </section>
  {{/with}}

  {{! Guest Speakers Section }}
  {{#with page_data.guest_speakers}}
  <h4 class="adelle-sans">{{this.title}}</h4>
  <div class="flex-container">
    {{#each speaker_list}}
      <div class="speaker-container speaker-container--guest" style="background-image: url('{{this.image}}')">
        <p class="item-title adelle-sans--bold">{{this.name}}</p>
        <p class="item-source adelle-sans">{{this.company}}</p>
        <p class="js-speaker-info item-more-info adelle-sans--bold" data-name="{{this.name}}" data-image="url({{this.image}})" data-company="{{this.company}}" data-bio="{{this.blurb}}">READ BIO →</p>
      </div>
    {{/each}}
    {{/with}}
  </div>

</div>
