---
layout: opticon.hbs
seo_title: Opticon
no_container: true
compact_header: true
page_script: opticon-speakers.js
footer_style: grey
body_class:
- opticon-speakers
---

<div class="row">
  <section class="title-container">
    <h1 class="tagline">
      Call for Speakers
    </h1>
    <h4 class="event-details">
      {{opticon_data.date}} | {{opticon_data.location}}
    </h4>
  </section><!-- /.title-container -->

  <section class="details panel">
    <div class="container">
      <h2 class="details-header">The Call for Speakers is officially open for Opticon 2015!</h2>
      <p class="details-description">{{speakers_data.speaker_description}}</p>
      <div class="tracks">
        {{#each speakers_data.tracks}}
          <div class="track-item">
            <h3 class="track-title">{{track_title}}</h3>
            <p class="class-description">{{track_description}}</p>
          </div>
        {{/each}}
      </div><!-- /.tracks -->
    </div><!-- /.container -->
  </section><!-- /.details -->

  <section class="apply panel">
    <h2 class="apply-header">{{speakers_data.form_section.title}}</h2>
    <p class="apply-subheader">{{speakers_data.form_section.instructions}}</p>

    <form id="speaker-form" class="container" action="http://www.mocky.io/v2/54908f0a0b9c751f1843787b" method="post" novalidate>
      <div class="flex-container">
        <div class="columns five offset-one">
          <label for="" class="required">Name</label>
          <span class="Name-related error-hide error-right">Required</span>
          <input type="text" name="Name" required>

          <label for="" class="required">Job Title</label>
          <span class="JobTitle-related error-hide error-right">Required</span>
          <input type="text" name="JobTitle" required>

          <label for="" class="required">Company</label>
          <span class="Company-related error-hide error-right">Required</span>
          <input type="text" name="Company" required>
        </div>

        <div class="columns five offset-one">
          <label for="" class="required">Email</label>
          <span class="Email-related error-hide error-right">Required</span>
          <input type="text" name="Email" required>

          <label for="" class="required">Phone number</label>
          <span class="PhoneNumber-related error-hide error-right">Required</span>
          <input type="text" name="PhoneNumber" required>
        </div>
      </div>

      <div class="flex-container">
        <div class="columns five offset-one">
          <label for="" class="required">Session Title</label>
          <span class="SessionTitle-related error-hide error-right">Required</span>
          <input type="text" name="SessionTitle" required>

          <label class="required" for="">Session Type</label>
          <span class="SessionType-related error-hide error-right">Required</span>
          <select class="required" name="SessionType" required>
            <option selected disabled hidden value=''></option>
            <option value="Solo Speaking Spot">Solo Speaking Spot</option>
            <option value="Panel Presentation">Panel Presentation</option>
            <option value="Fireside">Fireside</option>
          </select>

          <label for="">Additional Speakers</label>
          <input type="text" name="AdditionalSpeakers">
        </div>

        <div class="columns five offset-one">
          <label class="required" for="">Track</label>
          <span class="Track-related error-hide error-right">Required</span>
          <select  name="Track" required>
            <option selected disabled hidden value=''></option>
            <option value="Strategy">Strategy</option>
            <option value="Culture">Culture</option>
            <option value="Action">Action</option>
            <option value="Develop">Develop</option>
          </select>

          <label class="required" for="">Audience</label>
          <span class="Audience-related error-hide error-right">Required</span>
          <select name="Audience" required>
            <option selected disabled hidden value=''></option>
            <option value="Marketers">Marketers</option>
            <option value="Developers">Developers</option>
            <option value="Product">Product</option>
            <option value="Everyone">Everyone</option>
          </select>

          <label class="required" for="">Level</label>
          <span class="Level-related error-hide error-right">Required</span>
          <select name="Level" required>
            <option selected disabled hidden value=''></option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
            <option value="Everyone">Everyone</option>
          </select>
        </div>
      </div>

      <div class="big-text-area">
        <label class="required" for="">Session Abstract</label>
        <span class="SessionAbstract-related error-hide error-right">Required</span>
        <textarea name="SessionAbstract" required></textarea>
      </div>

      <div class="big-text-area">
        <label class="required" for="">Examples of previous speaking engagement(s)</label>
        <span class="PreviousTalks-related error-hide error-right">Required</span>
        <textarea name="PreviousTalks" required></textarea>
      </div>

      <div class="options">
        <p class="error-hide">Invalid Input</p>
      </div>
      <!--<div class="button-container">-->
        <!--<a class="next" href="#">Next</a>-->
      <!--</div>-->
      <div class="button-container">
        <button type="submit" class="submit-button">
          <span class="sbmt-btn-text">Submit</span>
          <span class="sbmt-btn-icon"></span>
        </button>
      </div>
      <div class="form-success">
        <h3 class="form-success">{{speakers_data.form_section.form_success}}</h3>
      </div>
    </form>
  </section><!-- /.call-for-sponsors -->
</div><!-- /.row-->
