---
layout: wrapper
TR_layout_h1: "Optimizely for"
TR_sub_head_nav:
-
  link: "pricing"
  TR_text: "Plans and Pricing"
-
  link: "benefits"
  TR_text: "Benefits"
menu:
  TR_title: "Optimizely for"
  TR_menu_items:
  - TR_text: "Agencies"
    url: "/partners"
  - TR_text: "Developers"
    url: "http://developers.optimizely.com/"
  - TR_text: "E-commerce"
    url: "/ecommerce"
  - TR_text: "Enterprises"
    url: "/enterprises"
  - TR_text: "Publishers"
    url: "/publishers"
  - TR_text: "Small Business"
    url: "/small-business"
  - TR_text: "your website..."
    url: "/benefits"
    class: hide
cta:
  TR_h3: "Your improved site awaits"
  a:
    link: "pricing"
    TR_text: "View Plans & Pricing"
layout_body_class:
- benefits-layout
layout_script: benefits.js
TR_page_content: true
---
<div id="main">
    <div id="page-header">
        <div class="container">
            <div class="clearfix page-subheader-cont">
                <h1>
                  {{#unless this.hide_h1_super}}<span class="super">{{TR_layout_h1}}</span>{{/unless}}
                    {{this.TR_visible_title}}
                </h1>
                <ul class="sub-header-nav">
                  {{#each TR_sub_head_nav}}
                    <li><a href="{{../linkPath}}/{{link}}" class="{{link}}">{{TR_text}}</a></li>
                  {{/each}}
                    <li class="dropdown">
                    <span class="for-menu-label">{{menu.TR_title}}</span>
                        <ul class="for-menu" data-current="{{dirname}}">
                            {{#each menu.TR_menu_items}}
                            <li>
                              <a href="{{#isUrl url}}{{../../linkPath}}{{/isUrl}}{{url}}"{{#isCurrentDest ../this.dest url true}} class="active hide"{{/isCurrentDest}}>
                                {{TR_text}}
                              </a>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </div><!---->
        </div><!--/.container-->
    </div><!--/#page-header-->
    <div id="page-header-gradient"></div>
    <div id="page-content">
        {{#unless this.no_container}}<div class="container row">{{/unless}}
        {% body %}
        <div class="attention center-desktop row">
            {{#with cta}}
            <h3>{{TR_h3}} <a href="{{linkPath}}/{{a.link}}" class="primary-button">{{a.TR_text}}</a></h3>
            {{/with}}
        </div>
        {{#unless this.no_container}}</div><!--/.container-->{{/unless}}
    </div><!--/#content-->
</div><!--/#main-->
