---
layout: wrapper.hbs
layout_script: false
layout_body_class: false
---

<nav id="opticon-nav">
  <a href="{{linkPath}}/opticon">
    <img class="opticon-logo" src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon_logo.svg" alt="Opticon 2015">
  </a>
  <ul class="nav-options">
    <li><a href="{{isDest page.dest 'opticon' '#call-for-sponsors' '/opticon#call-for-sponsors' linkPath}}" {{isDest page.dest "opticon" "smooth-scroll"}}>Sponsors</a></li>
    <li><a href="//community.optimizely.com/t5/Presentations/bg-p/Presentations">2014 Presentations</a></li>
    <li><a href="{{isDest page.dest 'opticon' '#register' '/opticon#register' linkPath}}" {{isDest page.dest "opticon" "smooth-scroll"}}>Registration</a></li>
  </ul>
</nav>

{{> body }}
