---
layout: wrapper
layout_script: opticon.js
layout_body_class: false
---

<nav id="opticon-nav-bar">
  <div class="container opticon-flex-container">
    <div class="opticon-logo">
      <a href="{{linkPath}}/opticon">
        <img src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-logo.svg" alt="Opticon 2015">
      </a>
    </div>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="http://pages.optimizely.com/rs/optimizely/images/Opticon_2015_Sponsorship_Prospectus.pdf" target="_blank">Sponsor</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/opties/">Opties</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/event-info/">Event Info</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/agenda/">Sessions</a>
    <a class="opticon-button opticon-button--nav opticon-button--nav--header register-link adelle-sans" href="https://www.eventbrite.com/e/opticon-2015-tickets-14328636337">Register Now</a>
  </div>
</nav>

{% body %}

<footer id="opticon-footer">
  <div class="container opticon-flex-container">
    <div class="opticon-logo">
      <a href="{{linkPath}}/opticon">
        <img src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-logo.svg" alt="Opticon 2015">
      </a>
    </div>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="http://pages.optimizely.com/rs/optimizely/images/Opticon_2015_Sponsorship_Prospectus.pdf" target="_blank">Sponsor</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/opties/">Opties</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/event-info/">Event Info</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/agenda/">Sessions</a>
    <a class="opticon-button opticon-button--nav opticon-button--nav--footer register-link adelle-sans" href="https://www.eventbrite.com/e/opticon-2015-tickets-14328636337">Register Now</a>
  </div>
  <div class="container social-container">
    <a class="social facebook" href="https://www.facebook.com/optimizely"></a>
    <a class="social twitter" href="https://twitter.com/optimizely"></a>
  </div>
</footer>
