---
layout: wrapper.hbs
layout_script: false
layout_body_class: false
---

<nav id="opticon-nav-bar">
  <div class="container opticon-flex-container">
    <div class="opticon-logo">
      <a href="{{linkPath}}/opticon">
        <img src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-logo.svg" alt="Opticon 2015">
      </a>
    </div>
    <div class="nav-text-item"><a href="{{linkPath}}/opticon/about/">About</a></div>
    <div class="nav-text-item"><a href="{{linkPath}}/opticon/speakers/">Speakers</a></div>
    <div class="nav-text-item body-button"><a href="#">Register Now</a></div>
  </div>
</nav>

{{> body }}

<footer id="opticon-footer">
  <div class="container opticon-flex-container">
    <div class="opticon-logo">
      <a href="{{linkPath}}/opticon">
        <img src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-logo.svg" alt="Opticon 2015">
      </a>
    </div>
    <div class="nav-text-item"><a class="nav-text" href="{{linkPath}}/opticon/about/">About</a></div>
    <div class="nav-text-item"><a class="nav-text" href="{{linkPath}}/opticon/speakers/">Speakers</a></div>
    <div class="nav-text-item body-button"><a class="nav-text" href="#">Register Now</a></div>
  </div>
  <div class="container opticon-flex-container">
    <a class="social facebook" href="#"></a>
    <a class="social twitter" href="#"></a>
  </div>
</footer>
