---
layout: wrapper
layout_script: opticon.js
layout_body_class: false
---

<nav id="opticon-nav-bar">
  <div class="container opticon-flex-container">
    <div class="opticon-logo">
      <a href="{{linkPath}}/opticon">
        <img class="opticon-logo--nav" src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-logo-final.svg" alt="Opticon 2015">
      </a>
    </div>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/event-info/">Event Info</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/agenda/">Agenda</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/speakers/">Speakers</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/sponsors/">Sponsors</a>
    <a class="opticon-button opticon-button--nav opticon-button--nav--header blue-hover register-link adelle-sans" href="https://www.eventbrite.com/e/opticon-2015-tickets-14328636337">Register</a>
  </div>
</nav>

{% body %}


<footer id="opticon-footer">
  <div class="container opticon-flex-container">
    <div class="opticon-logo">
      <a href="{{linkPath}}/opticon">
        <img class="opticon-logo--nav" src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-logo-final.svg" alt="Opticon 2015">
      </a>
    </div>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/event-info/">Event Info</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/agenda/">Agenda</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/speakers/">Speakers</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/sponsors/">Sponsors</a>
    <a class="opticon-button opticon-button--nav opticon-button--nav--footer register-link adelle-sans" href="https://www.eventbrite.com/e/opticon-2015-tickets-14328636337">Register</a>
  </div>
  <div class="container social-container">
    <a class="social facebook" href="https://www.facebook.com/optimizely"></a>
    <a class="social twitter" href="https://twitter.com/optimizely"></a>
  </div>
</footer>
