---
layout: wrapper.hbs
layout_script: false
layout_body_class: false
---

<nav id="opticon-nav-bar">
  <div class="container opticon-flex-container">
    <div class="opticon-logo">
      <a href="{{linkPath}}/opticon">
        <img src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-logo.svg" alt="Opticon 2015">
      </a>
    </div>
    <a class="nav-text-item" href="{{linkPath}}/opticon/about/">About</a>
    <a class="nav-text-item" href="{{linkPath}}/opticon/speakers/">Speakers</a>
    <a class="nav-text-item body-button" href="#">Register Now</a>
  </div>
</nav>

{{> body }}

<footer id="opticon-footer">
  <div class="container opticon-flex-container">
    <div class="opticon-logo">
      <a href="{{linkPath}}/opticon">
        <img src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-logo.svg" alt="Opticon 2015">
      </a>
    </div>
    <a class="nav-text-item" href="{{linkPath}}/opticon/about/">About</a>
    <a class="nav-text-item" href="{{linkPath}}/opticon/speakers/">Speakers</a>
    <a class="nav-text-item body-button" href="#">Register Now</a>
  </div>
  <div class="container opticon-flex-container">
    <a class="social facebook" href="https://www.facebook.com/optimizely"></a>
    <a class="social twitter" href="https://twitter.com/optimizely"></a>
  </div>
</footer>
