---
layout: wrapper
layout_script: seo.js
layout_body_class:
- seo-layout
TR_layout_header: "Start using Optimizely to test your website today!"
---
<div id="main">
  <div id="page-header">
    <div class="container">
      <h1>{{{this.TR_visible_title}}}</h1>
      {{#if this.TR_sub_head}}<p>{{this.TR_sub_head}}</p>{{/if}}
    </div><!--/.container-->
  </div><!--/#page-header-->
  <div id="page-header-gradient"></div>
  <div id="page-content">
    <div class="container">
      <div class="row">
        <div class="columns ten offset-one">
          <div class="ugc">{% body %}</div>
        </div>
      </div>
      <div class="row">
        <div class="columns twelve">
          <div class="shadow-cta">
            <h4>{{this.TR_layout_header}}</h4>
          </div>
        </div>
      <div class="columns six offset-three">
        <div class="landing-page-form">
          {{#if this.TR_form_header}}
          <h4 class="seo-form-heading">{{TR_page.form_header}}</h4>
          {{/if}}
          <p class="seo-form-subheader">{{{page.form_text}}}</p>
          <form id="seo-form" method="POST" class="seo-form inline-labels" action="/account/free_trial_create" autocomplete="off" novalidate="novalidate">
            <div class="options">
              <p class="error-message oform-error-show"></p>
            </div>
            <input id="utm_medium" type="hidden" name="utm_medium" value="">
            <input id="hidden" type="hidden" name="hidden" value="">
            <ul>
              <li class="url-input-related">
              <label for="url">Type in a URL to try it out</label>
              <input id="url" required name="url-input" type="url">
              </li>
              <li class="name-related">
              <label for="name">Your Name</label>
              <input id="name" required data-validation="name" name="name" type="text">
              </li>
              <li id="phone-email-cont">
              <div class="label half left email-related">
                <label for="email">Email - no spam</label>
                <input id="email" required name="email" type="email">
              </div>

              <div class="label half right phone_number-related">
                <label for="phone">Phone Number</label>
                <input id="phone" name="phone_number" type="tel">
              </div>
              </li>
              <li class="terms">
              <small>By clicking the <q>Test it Out</q> button below I agree to the <br><a href="{{linkPath}}/terms" target="_blank">Terms of Service</a> and <a href="{{linkPath}}/privacy" target="_blank">Privacy Policy</a>.</small>
              </li>
              <li class="a-center">
              <button type="submit" id="submit" class="button oform-processing-hide">Test it Out</button>
              <p class="oform-processing-show">Processing...</p>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div><!--/.container-->
  </div><!--/#content-->
</div><!--/#main-->
