---
layout: wrapper
layout_script: trial-form.js
layout_body_class:
- trial-form-layout
---
<div id="main">
  <div class="header-wrapper">
    {{#if this.page_header}}
    <div id="page-header">
      <div class="container">
        {{#if this.visible_title}}<h1>{{this.visible_title}}</h1>{{/if}}
        {{#if this.sub_head}}<p>{{this.sub_head}}</p>{{/if}}
      </div><!--/.container-->
    </div><!--/#page-header-->
    {{/if}}
    <div class="container">
      <div class="row">
        <div class="columns six hero-left-cont">
          <img src="{{assetsDir}}/img/ppc/ppc.png">
          {{#if this.social_proof}}
          <div id="social-proof-cont">
              <div class="social-numbers visitors-tested-cont">
                <p class="social-number" id="visitors-tested-number">1,306,200,329</p>
                <p class="description">{{tr 'Visitors tested'}}</p>
              </div>
              <div class="social-numbers experiments-run-cont">
                <p class="social-number" id="experiments-run-number">100,329</p>
                <p class="description">{{tr 'Experiments run'}}</p>
              </div>
          </div>
          {{/if}}
        </div>
        <div class="columns six ppc-form-cont">
          <div id="ppc-form" class="landing-page-form">
            {{#if this.form_header}}
            <h4 class="seo-form-heading">{{this.form_header}}</h4>
            {{/if}}
            <p class="seo-form-subheader">{{{this.form_text}}}</p>
            {{> (l10nPartial 'ppc_form')}}
          </div><!--/#ppc-form-->
        </div>
      </div><!--/.row-->
    </div>
  </div><!--/.header-wrapper-->
  {% body %}
  <div class="seo-customers container">
    <div class="row">
      <div class="columns four">
        <h4>{{{tr 'Happy Customers <br>testing with Optimizely'}}}</h4>
      </div>
      <div class="columns eight SL_swap" id="seo-customer-images">
        <img src="{{assetsDir}}/img/resources/free-trial-logos-bw.png" alt="{{tr 'Happy customer logos'}}" />
      </div>
    </div>
  </div>
</div><!--/#main-->
