---
layout: partners_become
compact_header: false
body_class:
- partners-become
page_script: partners_become.js
footer_style: grey
TR_seo_title: ""
og_title: ""
og_description: ""
---
<style>

</style>

<section id="landing-hero" class="panel hero">
  {{#with page_data.intro}}
    <h1>{{{headline}}}</h1>
    <h2>{{{subhead}}}</h2>
    <a href="#" class="primary-cta join-link" style="
">{{{button_text}}}</a>
  {{/with}}
</section>


<section id="solutions-why" class="panel">

  {{#with page_data.intro}}
    <p class="blurb">{{{blurb}}}</p>
  {{/with}}

  {{#with page_data.why}}
    <div class="why-items container">

      <h2 class="panel-header">{{{header}}}?</h2>

      <div class="tracks-container flex-container">

        {{#each reasons}}
          <div class="track-container">
            <div class="image {{this.class}}"></div>
            <p class="item-title">{{{this.title}}}</p>
            <p class="detail-text ">{{{this.blurb}}}</p>
          </div>
        {{/each}}

      </div>
  {{/with}}
</section>

<section id="solutions-benefits" class="panel">
  {{#with page_data.benefits}}
  <div class="benefits container">

    <h2 class="panel-header">{{{title}}}</h2>

    {{#each items}}
      <div class="split-cols clearfix">

        <div>
          <img src="{{this.image}}">
        </div>

        <div>
          <h3 class="description-title ">{{{this.title}}}</h3>
          <p class="description-text ">{{{this.blurb}}}</p>
            <ul class="points">
              {{#each points}}
                <li>{{{this}}}</li>
              {{/each}}
            </ul>
        </div>

      </div>
    {{/each}}


  </div>
  {{/with}}
</section>

<section class="become-a-partner panel">
  {{#with page_data.join}}
    <div class="container ">
      <h2 class="panel-header">{{{title}}}</h2>

    <a href="#" class="primary-cta join-link">{{{button_text}}}</a>

    <p class="blurb">{{{blurb}}}</p>
    </div>
  {{/with}}
</section>
