---
layout: partners_become
compact_header: false
body_class:
- partners-become
page_script: partners-become.js
footer_style: grey
TR_seo_title: ""
og_title: ""
og_description: ""
---
<style>

</style>

{{!-- static  remove when templated out dynamic version --}}


<section id="landing-hero" class="panel hero">
    <h1>Partner with Optimizely</h1>
    <h2>The World’s Leading Experience Optimization Platform</h2>
</section>


<section id="solutions-why">
  <div class="why-items container">
    <div class="tracks-container flex-container">
        <div class="track-container">

    <div class="image trophy"></div>

          <p class="item-title adelle-sans--bold">Platform</p>
          <p class="detail-text adelle-sans">How to integrate Optimizely with the products you already use as well as find new ways to enhance your current workflow.</p>
        </div>
        <div class="track-container ">
    <div class="image magnifying"></div>

          <p class="item-title adelle-sans--bold">Culture</p>
          <p class="detail-text adelle-sans">How to create a culture that values and practices experience optimization every day.</p>
        </div>
        <div class="track-container strategy">
    <div class="image browsers"></div>

          <p class="item-title adelle-sans--bold">Strategy</p>
          <p class="detail-text adelle-sans">Tips and best practices for incorporating experience optimization into your business strategy.</p>
        </div>
        <div class="track-container ">
    <div class="image mouseclick"></div>

          <p class="item-title adelle-sans--bold">Action</p>
          <p class="detail-text adelle-sans">How to use Optimizely to create the best experiences for your users and customers.</p>
        </div>
    </div>

  </div>
</section>



<section id="solutions-benefits" class="panel">
  <div class="benefits container">
    <div class="flex-container">
      <div class="left-paragraph">
  	<img src="/dist/assets/img//partners-become/illustration1.svg">
 </div>

      <div class="right-paragraph">
                <h3 class="description-title adelle-sans">Become a Solutions Partner Partner</h3>
        <p class="description-text adelle-sans">Develop new revenue streams for your business by delivering best in class optimization services.</p>
      </div>
    </div>





  <div class="flex-container">
      <div class="left-paragraph">

                <h3 class="description-title adelle-sans">Become a Solutions Partner Partner</h3>
        <p class="description-text adelle-sans">Develop new revenue streams for your business by delivering best in class optimization services.</p>
 </div>

      <div class="right-paragraph">
        <img src="/dist/assets/img//partners-become/illustration2.svg">
      </div>
    </div>


  <div class="flex-container">
      <div class="left-paragraph">
  	<img src="/dist/assets/img//partners-become/illustration3.svg">
 </div>

      <div class="right-paragraph">
                <h3 class="description-title adelle-sans">Become a Solutions Partner Partner</h3>
        <p class="description-text adelle-sans">Develop new revenue streams for your business by delivering best in class optimization services.</p>
      </div>
    </div>





  </div>

</section>



{{!-- dynamic

<section id="solutions-hero" class="panel hero">
  {{#with page_data.intro}}
    <h1>{{{headline}}}</h1>
    <h2>{{{subhead}}}</h2>
  {{/with}}
</section>

<div class="page-content paragraphs-container container">
  <section id="solutions-blurb" class="panel">
    {{#with page_data.intro}}
      {{{blurb}}}
    {{/with}}
  </section>


  <section  id="solutions-why"  class="why-items container">
    <h3 class="description-title">{{why.title}}</h3>
    <div class="tracks-container flex-container">
      {{#each why.items_list}}
        <div class="why-item-container {{this.class}}">
          <p class="detail-text">{{this.blurb}}</p>
        </div>
      {{/each}}
    </div>
  </section>


  <section id="solutions-benefits" class="panel">
    {{#with page_data.benefits}}

      {{#each items.list}}
        <div class="flex-container">

          <div class={{#is_even @index}}"left-paragraph"{{else}}"right-paragraph"{{/is_even}}>
            <h3 class="description-title adelle-sans">{{title}}</h3>
            <p class="description-text adelle-sans">{{blurb}}</p>
          </div>

          <div class={{#is_even @index}}"right-paragraph"{{else}}"left-paragraph"{{/is_even}}>
            <div class="{{class}}"></div>
          </div>
        </div>

      {{/each}}

    {{/with}}
  </section>


  <section id="solutions-join" class="panel">
    {{#with page_data.join}}
      <div class="container text-center">
        <h2>{{title}}</h2>
        <a href="{{link}}" class="primary-cta">Join Now</a>
        <p>{{blurb}}</p>
      </div>
    {{/with}}
  </section>

</div>
--}}
