---
layout: trial_form
TR_seo_title: "Optimizely: Test it Out"
page_header: false
TR_form_header: "Test it Out for Free"
TR_form_text: "Welcome to Optimizely. Sign up for a free account and test out the most popular <span id='symmetry_test'>A/B testing tool</span> on the planet!"
about:
  TR_title: "About Optimizely"
  TR_li:
  - "No technical skills required"
  - "Most popular testing tool on the planet"
  - "A user interface customers love"
how:
  TR_title: "How it works"
  TR_li:
  - "Visually optimize your website"
  - "Choose the goals you want to track"
  - "Push live and watch ROI improve"
TR_quote: "Optimizely removed every roadblock to landing page testing and allows us to quickly make user-driven decisions."
social_proof: true
page_script: free-trial.js
external_stylesheets:
- "//cloud.typography.com/7838232/736966/css/fonts.css"
body_class:
- ppc-page
compact_header: true
---
<div class="light-gray-section">
  <div class="container">
    <div class="row">
      <div class="columns six">
        <div id="about-optimizely">
          <p><strong>{{this.about.title}}</strong></p>
          <ul>
            {{#each this.about.li}}
            <li>{{.}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="columns six">
        <div id="how-it-works">
          <p><strong>{{this.how.title}}</strong></p>
          <ul>
            {{#each this.how.li}}
            <li>{{.}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div><!--/.row-->
  </div>
</div>
<div class="textured-section customer-quote">
  <div class="container">
    <div class="row">
      <div class="columns ten offset-one">
        <q class="pull-quote" cite="http://www.sliderocket.com">{{this.quote}}</q>
        <img src="https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/sliderocket.png">
      </div>
    </div>
  </div>
</div>
