---
layout: no-sub-nav.hbs
visible_title: Full Feature List
body_class:
- feature-list
seo_title: Full Feature List
og_title: "Full Feature List"
---


{{#with feature_list}}
<p>{{{back}}}</p>

<!--             -->
<!--Title Section-->
<!--             -->
<div class="title-section row">
  <div class="starter columns four offset-four">
    <h1 >{{starter_header.title}}</h1>
    <p>{{starter_header.desc}}</p>
  </div>
  <div class="enterprise columns four">
    <h1 >{{enterprise_header.title}}</h1>
    <p>{{enterprise_header.desc}}</p>
  </div>
</div>

<!--              -->
<!--Feature Tables-->
<!--              -->
{{#each tables}}
<div class="table">
  <div class="table-header row">
    <p class="table-title columns four">{{this.title}}</p>
    <p class="table-desc columns eight">{{this.desc}}</p>
  </div>
  <div class="table-body">
    {{#each this.features}}
      <div class="table-row row">
        <p class="columns four">{{this.title}}</p>
        {{#if this.starter}}
        <div class="starter-box columns four true">{{this.starter}}</div>
        {{else}}
        <div class="starter-box columns four false">{{this.starter}}</div>
        {{/if}}
        {{#if this.enterprise}}
        <div class="enterprise-box columns four true">{{this.enterprise}}</div>
        {{else}}
        <div class="enterprise-box columns four false">{{this.enterprise}}</div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
{{/each}}
{{/with}}
