---
layout: page_success
TR_seo_title: Customer Success
TR_visible_title: Customer Success
body_class:
- "success"
---

{{#with page_data}}
{{#each services}}
<div class="success-row">
  <div class="success-image">
    <img src="{{icon}}">
  </div>
  <div class="success-content">
    <h1 class="text-blue header-text">{{title}}</h1>
    <h2>{{headline}}</h2>
    {{{description}}}
  </div>
</div>
{{/each}}

{{#if team}}
<div class="success-row divided">
  <div class="success-image">
    <img src="{{team.photo}}">
  </div>
  <div class="success-content">
    {{#if team.headline}}<h2>{{team.headline}}</h2>{{/if}}
    {{{team.description}}}
  </div>
</div>
{{/if}}
{{/with}}
